
CONFIG_SEC_PANEL_NOTIFIER_V2=m
CONFIG_VIBRATOR_VIB_INFO=m
CONFIG_SEC_VIBRATOR=m
CONFIG_I2C_GPIO=m
CONFIG_DEV_RIL_BRIDGE=m
CONFIG_LIGHT_FACTORY=y
CONFIG_PROX_FACTORY=y
CONFIG_LIGHT_SUB_FACTORY=y
CONFIG_SUPPORT_DUAL_OPTIC=y
CONFIG_SUPPORT_VIRTUAL_OPTIC=y
CONFIG_SUPPORT_DROPDUMP=m
CONFIG_VBUS_NOTIFIER=m
CONFIG_SEC_STI=y
CONFIG_MUIC_NOTIFIER=m
CONFIG_HICCUP_CHARGER=y
CONFIG_MUIC_AFC_RETRY=y
CONFIG_MUIC_SUPPORT_PDIC=y
CONFIG_MUIC_USE_MODULE_PARAM=y
CONFIG_USE_MUIC=y
CONFIG_KPERFMON=y
CONFIG_KPERFMON_BUILD=m
CONFIG_USB_TYPEC_MANAGER_NOTIFIER=m
CONFIG_IF_CB_MANAGER=m
CONFIG_INPUT_SEC_INPUT=m
CONFIG_SEC_DEBUG_TSP_LOG=m
CONFIG_INPUT_SEC_SECURE_TOUCH=m
CONFIG_TOUCHSCREEN_DUMP_MODE=m
CONFIG_INPUT_TOUCHSCREEN_TCLMV2=m
# CONFIG_TOUCHSCREEN_DUAL_FOLDABLE is not set
CONFIG_INPUT_SEC_NOTIFIER=m
CONFIG_SENSORS_FINGERPRINT=m
CONFIG_SB_CORE=m
CONFIG_SB_PQUEUE=y
CONFIG_SB_NOTIFY=y
CONFIG_SB_SYSFS=y
CONFIG_SB_VOTE=y
CONFIG_SEC_INPUT_BOOSTER=m
CONFIG_SEC_INPUT_BOOSTER_MODE=y
CONFIG_SEC_INPUT_BOOSTER_QC=y
CONFIG_CHARGER_SM5714=m
CONFIG_SEC_ABC_SPEC_TYPE1=m
CONFIG_PDIC_NOTIFIER=m
CONFIG_PDIC_USE_MODULE_PARAM=y
CONFIG_SEC_ABC=m
CONFIG_SEC_ABC_HUB=m
CONFIG_SEC_ABC_COMMON=m
CONFIG_SEC_ABC_HUB_CORE=m
CONFIG_SEC_ABC_HUB_BOOTC=m
CONFIG_SEC_ABC_MOTTO=m
CONFIG_MFD_SM5714=m
CONFIG_SEC_ABC_DETECT_CONN=m
CONFIG_SEC_ABC_HUB_COND=m
CONFIG_QCOM_SEC_ABC_DETECT=m
CONFIG_CHARGER_SM5440=m
CONFIG_INPUT_HALL_IC=m
CONFIG_HALL_NOTIFIER=m
CONFIG_HALL_LOGICAL=m
# CONFIG_HALL_DUMP_KEY_MODE is not set
CONFIG_FUELGAUGE_SM5714=m
CONFIG_DC_VIBRATOR=m
CONFIG_COMBO_REDRIVER_PS5169=m
CONFIG_SENSORS_A96T396_A13X=y
# CONFIG_SENSORS_A96T396 is not set
# CONFIG_SENSORS_A96T396_SUB is not set
# CONFIG_SENSORS_A96T396_SUB2 is not set
CONFIG_SENSORS_A96T396_WIFI=m
CONFIG_SENSORS_A96T396_2CH=y
# CONFIG_SENSORS_A96T396_CRC_CHECK is not set
# CONFIG_SENSORS_A96T396_LDO_SHARE is not set
CONFIG_SENSORS_CORE_AP=y
CONFIG_SENSORS_FW_VENDOR=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_TOUCHSCREEN_STM_FTS1BA90A=m
CONFIG_MUIC_SM5714=m
CONFIG_MUIC_BCD_RESCAN=y
CONFIG_STAR_K250A_LEGO=m
CONFIG_SEC_SNVM_WAKELOCK_METHOD=0
# CONFIG_STAR_MEMORY_LEAK is not set
CONFIG_SENSORS_EL7XX=m
CONFIG_SENSORS_FINGERPRINT_MODULE=y
CONFIG_FINGERPRINT_SECURE=y
CONFIG_SENSORS_FINGERPRINT_QCOM=y
CONFIG_DIRECT_CHARGING=m
CONFIG_PDIC_SM5714=m
CONFIG_SM5714_FACTORY_MODE=y
CONFIG_SM5714_WATER_DETECTION_ENABLE=y
CONFIG_SM5714_SUPPORT_SBU=y
CONFIG_PDIC_PD30=y
CONFIG_SUPPORT_USB_TYPEC_OPS=y
CONFIG_SM5714_NORMAL_DRP=y
CONFIG_USB_LPM_CHARGING_SYNC=y
CONFIG_SENSORS_SEC_THERMISTOR=m
CONFIG_SEC_DISPLAYPORT=m
# CONFIG_KEYBOARD_STM32_POGO is not set
# CONFIG_KEYBOARD_STM32_POGO_V2 is not set
CONFIG_KEYBOARD_STM32_POGO_V3=m
CONFIG_EPEN_WACOM_WEZ01=m
CONFIG_BATTERY_SAMSUNG=m
CONFIG_SEC_PD=m
CONFIG_BATTERY_GKI=y
CONFIG_BATTERY_AGE_FORECAST=y
CONFIG_BATTERY_CISD=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_BATTERY_LOGGING=y
CONFIG_ENABLE_FULL_BY_SOC=y
CONFIG_STEP_CHARGING=y
CONFIG_SUPPORT_HV_CTRL=y
CONFIG_SUPPORT_SHIP_MODE=y
CONFIG_TABLET_MODEL_CONCEPT=y
