#
# ILITEK Touchscreen driver configuration
#

config TOUCHSCREEN_MTK_ILITEK_TS
    bool "ILITEK Touchscreen"
    depends on SPI
    default n
    help
      Say Y here if you have ILITEK touch panel.
      If unsure, say N.
      
