
CONFIG_CHARGER_S2MU005=y
CONFIG_LSI_IFPMIC=y
CONFIG_S2MU005_INNER_BATTERY=y
CONFIG_S2MU005_DISABLE_BUCK_MODE=y
CONFIG_SEC_VIBRATOR=y
CONFIG_SEC_VIB_NOTIFIER=y
# CONFIG_SECURITY_DSMS is not set
CONFIG_SEC_ABC=y
CONFIG_SEC_ABC_HUB=y
CONFIG_SEC_ABC_COMMON=y
# CONFIG_SEC_ABC_MOTTO is not set
CONFIG_SEC_ABC_HUB_CORE=y
# CONFIG_SEC_ABC_HUB_COND is not set
CONFIG_SEC_ABC_HUB_BOOTC=y
CONFIG_SEC_STI=y
CONFIG_MUIC_S2MU005=y
CONFIG_SEC_INPUT_BOOSTER=y
CONFIG_SEC_INPUT_BOOSTER_MTK=y
CONFIG_USE_MUIC=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_VBUS_NOTIFIER=y
CONFIG_MUIC_MANAGER=y
CONFIG_SEC_DETECT_CONN=y
CONFIG_QCOM_SEC_DETECT=m
CONFIG_SENSORS_SEC_THERMISTOR=y
CONFIG_MFD_S2MU005=y
CONFIG_FUELGAUGE_S2MU005=y
CONFIG_S2MU005_VOLT_MODE_TUNING=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_AGE_FORECAST=y
CONFIG_BATTERY_CISD=y
CONFIG_BATTERY_NOTIFIER=y
CONFIG_DC_VIBRATOR=y
# CONFIG_MTK_VIBRATOR is not set
