CONFIG_SEC_A8_PROJECT=y
CONFIG_MACH_A8_CHN_OPEN=y

# HARD RESET
CONFIG_RESTART_REASON_SEC_PARAM=y

# GPIO SETTING
#CONFIG_SEC_GPIO_SETTINGS=y

# GPIO EXPANDER
CONFIG_GPIO_PCAL6416A=y

# VIBRATOR
CONFIG_SS_VIBRATOR=y

# MUIC
CONFIG_SM5703_MUIC=y
CONFIG_S2MM001_VBUS_CHECK=y
CONFIG_USBID_STANDARD_VER_01=y
CONFIG_MUIC_SUPPORT_CHARGING_CABLE=y
CONFIG_MUIC_SUPPORT_DESKDOCK=y
CONFIG_MUIC_SUPPORT_RUSTPROOF=y

#############################################
# SOUND FEATURE
#############################################
CONFIG_AUDIO_SPEAKER_OUT_NXP_AMP_ENABLE=y
CONFIG_AUDIO_QUAT_I2S_ENABLE=y
CONFIG_SW_100K_TO_GND=y
#############################################

#SENSOR
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_TMD3782S=y
CONFIG_SENSORS_SX9310 is not set
# CONFIG_SENSORS_CM36652 is not set
# CONFIG_SENSORS_CM36652_SENSOR_EN_GPIO is not set
# CONFIG_SENSORS_CM36652_LEDA_EN_GPIO is not set
# BMC150
CONFIG_SENSORS_BMA2X2=y
CONFIG_SENSORS_BMM050=y
CONFIG_INPUT_BMA2x2_ACC_ALERT_INT=y
CONFIG_SENSORS_BMA2X2_ENABLE_INT1=y
# CONFIG_BOSCH_BMA2X2_ENABLE_INT2 is not set

# Finger print sensor
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_SENSORS_FINGERPRINT_SYSFS=y
CONFIG_SENSORS_VFS7XXX=y
CONFIG_SENSORS_FP_SPI_GPIO_START=8
CONFIG_SENSORS_FP_SPI_GPIO_END=11
CONFIG_SENSORS_FP_MASTER_ID=86
CONFIG_SENSORS_FP_LOCKSCREEN_MODE=y

#NFC
CONFIG_NFC=y
CONFIG_NFC_PN547=y
CONFIG_NFC_PN547_8916_USE_BBCLK2=y
CONFIG_NFC_PN547_LDO_CONTROL=y
CONFIG_NFC_PN547_PVDD_EN_CONTROL=y
CONFIG_ESE_P61=y
CONFIG_NFC_PN547_ESE_SUPPORT=y

#USB Host
CONFIG_USB_HOST_NOTIFY=y

# Charging/Battery
CONFIG_CHARGER_SM5703=y
CONFIG_FUELGAUGE_SM5703=y
CONFIG_CHARGER_S2MU003=y
CONFIG_FUELGAUGE_S2MU003=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_DATA_FILE="a8_battery_data.h"
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_SWELLING=y
CONFIG_BATTERY_SWELLING_SELF_DISCHARGING=y
CONFIG_PREVENT_SOC_JUMP=y
CONFIG_INBATTERY=y

#Power off Alarm
CONFIG_RTC_AUTO_PWRON=y
CONFIG_RTC_AUTO_PWRON_PARAM=y

# PMIC/MISC
CONFIG_MFD_SM5703=y
CONFIG_REGULATOR_SM5703=y
CONFIG_MFD_S2MU003=y
CONFIG_REGULATOR_S2MU003=y

#DISPLAY
CONFIG_PANEL_S6E3FA3_AMS568HN01_FHD=y

# TIMA LOG
# CONFIG_ARCH_MSM8939_TIMA=y

#CAMERA
CONFIG_CAM_DISABLE_LPM_MODE=y
CONFIG_S5K3P3SX=y
CONFIG_S5K5E3YX=y
CONFIG_MSM_FRONT_EEPROM=y
CONFIG_CAM_PN547_PVDD_EN_CONTROL=y
CONFIG_SW_LANDING_FOR_MULTI_TASKING=y
CONFIG_CAMERA_SYSFS_V2=y
#CONFIG_MSM_OTP is not set

#FLASH
CONFIG_FLASHLIGHT=y
CONFIG_LEDS_S2MU003=y
CONFIG_SM_FLASH_LED=y
CONFIG_FLED_SM5703=y
CONFIG_FLED_SM5703_EXT_GPIO=y

# debugging more information
#CONFIG_DEBUG_FS=y

#MMC
CONFIG_SEC_HYBRID_TRAY=y

# INPUT
CONFIG_TOUCHSCREEN_MELFAS_MMS449=y
CONFIG_TOUCHSCREEN_DUMP_MODE=y
# CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_RMI_G is not set
# CONFIG_TOUCHSCREEN_CYTTSP5 is not set
# CONFIG_TOUCHSCREEN_CYTTSP5_DEVICETREE_SUPPORT is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_v21 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_CORE_v21 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV_v21 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_v21 is not set
# CONFIG_TOUCHSCREEN_ATMEL_MXT is not set
# CONFIG_TOUCHSCREEN_FT5X06 is not set
# CONFIG_TOUCHSCREEN_MSTAR21XX is not set
# CONFIG_TOUCHSCREEN_GEN_VKEYS is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_RMI4 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI4_DEV is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE is not set
# CONFIG_SECURE_TOUCH is not set
# CONFIG_TOUCHSCREEN_BU21150 is not set
# CONFIG_INPUT_MT_WRAPPER is not set
CONFIG_KEYBOARD_ABOV_TOUCH_A8=y
CONFIG_INPUT_BOOSTER=y

# TZDEV
# CONFIG_MOBICORE_SUPPORT is not set
# CONFIG_MOBICORE_API is not set
CONFIG_TZDEV=y
CONFIG_TZDEV_32BIT_SECURE_KERNEL=y
# CONFIG_TZDEV_USE_ARM_CALLING_CONVENTION is not set
# CONFIG_TZDEV_CMA is not set
CONFIG_TZDEV_IWI_EVENT=280
CONFIG_TZDEV_IWI_PANIC=0
CONFIG_TZLOG=y
CONFIG_TZLOG_POLLING=y
CONFIG_TZLOG_POLLING_PERIOD=100
CONFIG_TZLOG_PG_CNT=2
# CONFIG_TZDEV_PANIC_HANDLER is not set
# CONFIG_TZDEV_MULTI_CORE_AUX_CHANNELS is not set
# CONFIG_TZDEV_MSM_CRYPTO_WORKAROUND is not set
CONFIG_TZDEV_QC_CRYPTO_CLOCKS_MANAGEMENT=y
CONFIG_TZDEV_QC_CRYPTO_CLOCKS_USR_MNG=y
CONFIG_ION_FD2PHYS=y
CONFIG_TZIRS=y
CONFIG_QCOM_SCM_ARMV8=y
# CONFIG_TZ_CORE_MIGRATION is not set
CONFIG_TZDEV_PAGE_MIGRATION=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_ZPOOL=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=y
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n

# SDP
CONFIG_SDP=y
