CONFIG_SEC_A7X_PROJECT=y
CONFIG_MACH_A7X_CHN_OPEN=y

# 3GB RAM
CONFIG_3G_DDR_SUPPORT=y

# HARD RESET
CONFIG_RESTART_REASON_SEC_PARAM=y

# GPIO SETTING
#CONFIG_SEC_GPIO_SETTINGS=y

# GPIO EXPANDER
CONFIG_GPIO_PCAL6416A=y

# VIBRATOR
CONFIG_MSM_VIBRATOR=y

# MUIC
CONFIG_USE_MUIC=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_MUIC_UNIVERSAL=y
CONFIG_MUIC_UNIVERSAL_SM5705=y
CONFIG_MUIC_PINCTRL=y
CONFIG_MUIC_UNIVERSAL_SM5705_AFC=y
CONFIG_VBUS_NOTIFIER=y

# HALL IC
CONFIG_SENSORS_HALL=y
CONFIG_SENSORS_HALL_REAR=y

#############################################
# SOUND FEATURE
#############################################
CONFIG_AUDIO_SPEAKER_OUT_NXP_AMP_ENABLE=y
CONFIG_AUDIO_QUAT_I2S_ENABLE=y
CONFIG_SW_100K_TO_GND=y
CONFIG_JACK_AUDIO=y
#############################################

#SENSOR
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_CM36655=y
CONFIG_SENSORS_SX9310 is not set
CONFIG_SENSORS_AK09916C=y
CONFIG_SENSORS_BHI=y
CONFIG_IIO=y
CONFIG_IIO_BUFFER=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_IIO_TRIGGER=y

#NFC
CONFIG_NFC=y
CONFIG_SEC_NFC=y
CONFIG_SEC_NFC_IF_I2C=y
CONFIG_SEC_NFC_PRODUCT_N5=y
CONFIG_SEC_NFC_USE_8916_BBCLK2=y
CONFIG_SEC_NFC_IO_EN=y
CONFIG_ESE_P3=y

#USB Host
CONFIG_USB_HOST_NOTIFY=y

# Charging/Battery
CONFIG_CHARGER_SM5705=y
CONFIG_FUELGAUGE_SM5705=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_DATA_FILE="a7x_battery_data.h"
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_SWELLING=y
# CONFIG_BATTERY_SWELLING_SELF_DISCHARGING is not set
CONFIG_PREVENT_SOC_JUMP=y
CONFIG_INBATTERY=y
CONFIG_MFD_SM5705=y
CONFIG_REGULATOR_SM5705=y

#Power off Alarm
CONFIG_RTC_AUTO_PWRON=y
CONFIG_RTC_AUTO_PWRON_PARAM=y

#DISPLAY
CONFIG_PANEL_S6E3FA3_AMS549JR01_FHD=y

# TIMA LOG
# CONFIG_ARCH_MSM8939_TIMA=y

#CAMERA
CONFIG_CAM_DISABLE_LPM_MODE=y
CONFIG_S5K3L2XX=y
CONFIG_S5K5E3YX=y
CONFIG_MSM_FRONT_EEPROM=y
CONFIG_CAM_PN547_PVDD_EN_CONTROL=y
CONFIG_SW_LANDING_FOR_MULTI_TASKING=y
CONFIG_CAMERA_SYSFS_V2=y
CONFIG_OIS=y
#CONFIG_MSM_OTP is not set

#FLASH
CONFIG_FLASHLIGHT=y
CONFIG_SM_FLASH_LED=y
#CONFIG_FLED_SM5703_EXT_GPIO=y
CONFIG_LEDS_SM5705=y

# debugging more information
#CONFIG_DEBUG_FS=y

#MMC
CONFIG_SEC_HYBRID_TRAY=y

# INPUT
# CONFIG_TOUCHSCREEN_MELFAS_MMS449 is not set
# CONFIG_TOUCHSCREEN_DUMP_MODE is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_RMI_G is not set
# CONFIG_TOUCHSCREEN_CYTTSP5 is not set
# CONFIG_TOUCHSCREEN_CYTTSP5_DEVICETREE_SUPPORT is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_v21 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_CORE_v21 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV_v21 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_v21 is not set
# CONFIG_TOUCHSCREEN_ATMEL_MXT is not set
# CONFIG_TOUCHSCREEN_FT5X06 is not set
# CONFIG_TOUCHSCREEN_MSTAR21XX is not set
# CONFIG_TOUCHSCREEN_GEN_VKEYS is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_RMI4 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI4_DEV is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE is not set
# CONFIG_SECURE_TOUCH is not set
# CONFIG_TOUCHSCREEN_BU21150 is not set
# CONFIG_INPUT_MT_WRAPPER is not set
# CONFIG_KEYBOARD_ABOV_TOUCH_A8 is not set
# CONFIG_INPUT_BOOSTER is not set
CONFIG_TOUCHSCREEN_SEC_TS=y
CONFIG_KEYBOARD_ABOV_TOUCH_FT18XX=y
CONFIG_KEYBOARD_ABOV_TOUCH_FT16XX=y
CONFIG_TOUCHKEY_GRIP=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_ZPOOL=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=y
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n

# SDP
CONFIG_SDP=y

#MST
CONFIG_MST_LDO=y
