CONFIG_SEC_KLEOS_PROJECT=y
CONFIG_MACH_KLEOS_EUR=y

# MUIC
CONFIG_SM5502_MUIC=y
# CONFIG_MUIC_SM5502_SUPPORT_LANHUB_TA is not set

#Touch Key
CONFIG_KEYBOARD_TC360_TOUCHKEY=y

#LCD
CONFIG_FB_MSM_MIPI_SAMSUNG_QHD_VIDEO_PT_PANEL=y

#Touch Screen
CONFIG_TOUCHSCREEN_MXTS=y
CONFIG_TOUCHSCREEN_MXT336S=y

CONFIG_MFD_RT5033=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_CHARGER_RT5033=y
CONFIG_FUELGAUGE_RT5033=y
CONFIG_REGULATOR_RT5033=y

#AUDIO
CONFIG_RADIO_IRIS=y
CONFIG_RADIO_IRIS_TRANSPORT=m

# TIMA LOG
CONFIG_ARCH_MSM8916_TIMA=y

#optimize mmc block delay on resume
CONFIG_MMC_BLOCK_DEFERRED_RESUME=y
