CONFIG_SEC_XCOVER3_PROJECT=y
CONFIG_MACH_XCOVER3_DCM=y

# HARD RESET
CONFIG_RESTART_REASON_SEC_PARAM=y

# SS Pinctrl Driver
CONFIG_SEC_GPIO_SETTINGS=y

#SENSOR
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_K2HH=y
#CONFIG_SENSORS_K2HH_VDD is not set
CONFIG_SENSORS_GP2A002=y
CONFIG_SENSORS_GP2A_MODE_B1=y
# CONFIG_SENSORS_GP2A_VDD is not set
CONFIG_SENSORS_AK09911C=y

#Wifi
#
# Enable Qualcomm Wifi features
#
#CONFIG_MSM_PIL_PRONTO=y
#CONFIG_WCNSS_CORE=y
#CONFIG_WCNSS_CORE_PRONTO=y
#CONFIG_WCNSS_MEM_PRE_ALLOC=y
#
# Wifi features (Qualcomm)
#
#CONFIG_NET_CORE=y
#CONFIG_WIRELESS=y
#CONFIG_WIRELESS_EXT_SYSFS=y
#CONFIG_WEXT_CORE=y
#CONFIG_WEXT_PROC=y
#CONFIG_CFG80211=y
#CONFIG_CFG80211_DEFAULT_PS=y
#CONFIG_WLAN_REGION_CODE=300
#CONFIG_TARGET_LOCALE_CHN=y
#CONFIG_CFG80211_ALLOW_RECONNECT is not set
#CONFIG_WLAN=y
#CONFIG_WIRELESS_EXT=y
#CONFIG_WEXT_PRIV=y
#CONFIG_MODULES=y
#CONFIG_MODULE_UNLOAD=y
#CONFIG_MODULE_FORCE_UNLOAD=y
#CONFIG_WCNSS_REGISTER_DUMP_ON_BITE =y

# MUIC
CONFIG_SM5703_MUIC=y
CONFIG_USBID_STANDARD_VER_01=y
CONFIG_MUIC_SUPPORT_CHARGING_CABLE=y
CONFIG_MUIC_SUPPORT_RUSTPROOF=y

# PMIC/MISC
CONFIG_MFD_SM5703=y
CONFIG_REGULATOR_SM5703=y

# VIBRATOR
CONFIG_SM5703_VIBRATOR=y

#Touch Screen
CONFIG_TOUCHSCREEN_CYTTSP5_TMA445A=y
CONFIG_TOUCHSCREEN_MELFAS_MMS438=y

#############################################
# AUDIO&SOUND FEATURE
#############################################
#CONFIG_RADIO_IRIS=y
#CONFIG_RADIO_IRIS_TRANSPORT=m
CONFIG_SAMSUNG_JACK=n
#CONFIG_SW_100K_TO_GND is not set
#############################################

#LCD
CONFIG_PANEL_SC7798A_BV045WVM_WVGA=y

# Charging/Battery
CONFIG_CHARGER_SM5703=y
CONFIG_FUELGAUGE_SM5703=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_DATA_FILE="xcover3_battery_data.h"
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_SWELLING=y
CONFIG_PREVENT_SOC_JUMP=y
CONFIG_CHARGER_SM5703_DUALPATH=y

#USB Host
CONFIG_USB_HOST_NOTIFY=y

# Pre-power on alarm
#CONFIG_RTC_AUTO_PWRON=y
#CONFIG_RTC_AUTO_PWRON_PARAM=y

#optimize mmc block delay on resume
CONFIG_MMC_BLOCK_DEFERRED_RESUME=y

#CPRM enable
CONFIG_MMC_CPRM=y

#CAMERA
CONFIG_DB8221A=y
CONFIG_S5K4H5YB=y
CONFIG_SENSOR_8_BPP=y
CONFIG_CAMERA_SYSFS_V2=y

CONFIG_MSM_EEPROM=y
#CONFIG_MSM_OTP=y

#FLASH
CONFIG_FLASHLIGHT=y
CONFIG_SM_FLASH_LED=y
CONFIG_FLED_SM5703=y
CONFIG_FLED_SM5703_EXT_GPIO=y

#disable KSM for power consumption problem
#CONFIG_KSM=y
#CONFIG_ADAPTIVE_KSM=y
#CONFIG_KSM_MEMCMP=y



# MODEM SECURE CHECK
#CONFIG_SEC_PERIPHERAL_SECURE_CHK=y
#EPDG
CONFIG_NET_CORE=y
CONFIG_NET_SCH_PRIO=y
CONFIG_NET_SCHED=y   #depends on CONFIG_NET  which is enabled by default.. coz not seeing in the config file
CONFIG_NET_CLS_BASIC=y # required if basic is being used as a filter. depends on CONFIG_NET_CLS so enabling it by default
CONFIG_NET_CLS=y
CONFIG_NET_CLS_ACT=y # for enabling the action target.
CONFIG_NET_ACT_MIRRED=y  # for enabling the mirred target for redirecting the packet between the devices.
CONFIG_NET_EMATCH=y   #basic uses extended matches so this has to be present
CONFIG_NET_SCH_INGRESS=y # classifier for ingress packet

CONFIG_VPNCLIENT_SECURITY=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_ZPOOL=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=y
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n

#APC CPR QUOTIENT
CONFIG_APC_CPR_QUOT_BOOST=y

#ISDBT
CONFIG_ISDBT=y
CONFIG_ISDBT_FC8180_SPI=y

#NFC
CONFIG_NFC=y
CONFIG_SEC_NFC_SENN3AB=y

# SDP
CONFIG_SDP=y

# SEC THERMISTOR
CONFIG_SEC_USE_FLASH_THERMISTOR=y
