CONFIG_SEC_ON5XLTE_PROJECT=y
CONFIG_MACH_ON5XLTE_CHN_OPEN=y
CONFIG_DRV_SAMSUNG=y

#SKU theme
CONFIG_SKU_THEME=y

#
# MAX77843 IC
#
# CONFIG_EXTCON is not set
# CONFIG_EXTCON_MAX77843 is not set
# CONFIG_MFD_MAX77843 is not set

#MUIC
CONFIG_USE_MUIC=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_MUIC_S2MU005=y
CONFIG_MFD_S2MU005=y
# CONFIG_MUIC_UNIVERSAL is not set
# CONFIG_MUIC_UNIVERSAL_SM5705 is not set
# CONFIG_MUIC_PINCTRL is not set
# CONFIG_MUIC_UNIVERSAL_SM5705_AFC is not set
# CONFIG_MFD_SM5705 is not set
# CONFIG_SM5705_SUPPORT_GAMEPAD is not set

# VBUS_NOTI
CONFIG_VBUS_NOTIFIER=y

CONFIG_USB_HOST_NOTIFY=y

# RUSTPROOF
CONFIG_MUIC_SUPPORT_RUSTPROOF=y

# VBUS_NOTI
CONFIG_VBUS_NOTIFIER=y

# HALL IC
# CONFIG_SENSORS_HALL is not set

# Service LED
CONFIG_LEDS_S2MU005_RGB=y
CONFIG_LEDS_CLASS=y

#
# MOTOR
#
CONFIG_SS_VIBRATOR=y
CONFIG_DC_MOTOR_PMIC=y
# CONFIG_VIBETONZ=y
# CONFIG_TACTILE_ASSIST=y

#
# DISPLAY(MDSS)
#
CONFIG_PANEL_HX83100A_C5001H3F_HD=y
CONFIG_BLIC_ISL98611=y
CONFIG_PANEL_TD4100_C5001H3F_HD=y

#FLASH
CONFIG_FLASHLIGHT=y
CONFIG_SM_FLASH_LED=y
# CONFIG_LEDS_SM5705 is not set
# CONFIG_DUAL_LEDS_FLASH is not set
CONFIG_LEDS_S2MU005=y
CONFIG_LEDS_S2MU005_FLASH=y

#CAMERA
CONFIG_MSM_FRONT_EEPROM=y

# XO SHUTDOWN
CONFIG_UART3=y

#OIS
#CONFIG_BU24219_OIS=y
#CONFIG_CAM_EXTERNAL=y

# BATTERY & CHARGER
# CONFIG_CHARGER_SM5705 is not set
# CONFIG_FUELGAUGE_SM5705 is not set
# CONFIG_CHARGER_DA9155 is not set
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_V2=y
# CONFIG_MULTI_CHARGING is not set
# CONFIG_STEP_CHARGING is not set
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_SWELLING=y
CONFIG_PREVENT_SOC_JUMP=y
# CONFIG_REGULATOR_SM5705 is not set
# CONFIG_AFC_CHARGER_MODE is not set
CONFIG_SW_SELF_DISCHARGING=y
# CONFIG_SEC_MPP_SHARE is not set
CONFIG_FUELGAUGE_S2MU005=y
CONFIG_CHARGER_S2MU005=y
CONFIG_INBATVOLT_FG=y

#Power off Alarm
CONFIG_RTC_AUTO_PWRON=y
CONFIG_RTC_AUTO_PWRON_PARAM=y

#
# InputDevice
#
CONFIG_SEC_INCELL=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_v26=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_CORE_v26=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV_v26=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_v26=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING_v26=y
CONFIG_KEYBOARD_MELFAS_MHS204=y
CONFIG_TOUCHSCREEN_HIMAX_I2C=y

# CONFIG_MFD_S2MPB02 is not set
# CONFIG_REGULATOR_S2MPB02 is not set
# CONFIG_MFD_SM5705=y
# CONFIG_REGULATOR_SM5705=y

# Finger print sensor
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_SENSORS_FINGERPRINT_SYSFS=y
CONFIG_SENSORS_ET510=y
CONFIG_SENSORS_FP_SPI_NUMBER=0
CONFIG_SENSORS_FP_SPI_GPIO_START=0
CONFIG_SENSORS_FP_SPI_GPIO_END=3
CONFIG_SENSORS_FP_LOCKSCREEN_MODE=y

#
# SD Card
#
CONFIG_SEC_HYBRID_TRAY=y

#
# Sensor
#
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_SENSORS_K2HH=y
CONFIG_SENSORS_STK3013=y
CONFIG_SENSORS_STK3013_SENSOR_EN_GPIO=y

# GPIO EXPANDER
CONFIG_GPIO_PCAL6416A=y

#
# Audio
CONFIG_SND_SOC_MSM8X16_WCD=y
# Earjack
CONFIG_SAMSUNG_JACK=y
CONFIG_INPUT_GPIO=y

#MST
# CONFIG_MST_LDO is not set
# CONFIG_SCHED_TASK_BEHAVIOR is not set

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_ZPOOL=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=y
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n
