# CONFIG_SND_SOC_RT5512 is not set
# CONFIG_SND_SOC_TFA9874 is not set
CONFIG_DEVICE_MODULES_SND_SOC_CS35L45_I2C=m
CONFIG_DEVICE_MODULES_SND_SOC_CIRRUS_AMP=m
CONFIG_SND_SOC_SAMSUNG_AUDIO=m
CONFIG_MTK_AUDIODSP_DEBUG_SUPPORT=y
CONFIG_IMGSENSOR_CUSTOM_CAMERA=y
CONFIG_CAMERA_STX_V10U=y
CONFIG_CAMERA_SAMSUNG_MODEL_NAME="stx_v10u"
CONFIG_CUSTOM_KERNEL_IMGSENSOR="hi1337_mipi_raw hi1337f_mipi_raw hi847_mipi_raw hi1337fu_mipi_raw"
CONFIG_IMGSENSOR_SYSFS=y
CONFIG_LEDS_SM5714=m
CONFIG_MTK_SM5714_FLASHLIGHT=m
# CONFIG_CAMERA_ADAPTIVE_MIPI is not set
CONFIG_DRM_PANEL_MCD_COMMON=m
CONFIG_USDM_PANEL=m
CONFIG_USDM_PANEL_DISPLAY_MODE=y
CONFIG_USDM_PANEL_DPUI=y
CONFIG_USDM_MDNIE=y
CONFIG_USDM_SDP_ADAPTIVE_MIPI=y
CONFIG_USDM_PANEL_SELF_DISPLAY=y
CONFIG_USDM_PANEL_DIMMING=y
CONFIG_USDM_PANEL_BIG_LOCK=y
CONFIG_USDM_PANEL_TESTMODE=y
CONFIG_USDM_BLIC_I2C=y
CONFIG_USDM_PANEL_BLIC=y
CONFIG_USDM_PANEL_MASK_LAYER=y
CONFIG_USDM_TCON_PRE_EMPHASIS_TEST=y
CONFIG_USDM_FACTORY_GCT_TEST=y
CONFIG_USDM_PANEL_BACKLIGHT_PAC_3_0=y
CONFIG_UH=y
CONFIG_RKP=y
CONFIG_KDP=y
CONFIG_KDP_CRED=y
&{NGK_COMMON_FEATURES}
CONFIG_SEC_DEBUG_DUMP_SINK=y
CONFIG_USDM_PANEL_FIRMWARE_UPDATE=y
