config SAMSUNG_DEBUG_DISPLAY
    bool "Add Samsung Debugging code"
    default n

config FB_MSM_MDSS_SAMSUNG
	depends on FB_MSM_MDSS
	bool "mdss config for samsung product"
	default n
	---help---
	Mdss config signature for samsung product

#
#	PANEL UNIQUE FEATURE
#
config DUAL_PANEL
	depends on FB_MSM_MDSS_SAMSUNG
	bool "dual paneloperation"
	default n
	---help---
	dual panel operation support

config PARTIAL_UPDATE
	depends on FB_MSM_MDSS_SAMSUNG
	bool "partial update operation"
	default n
	---help---
	partial update operation support

config CABC_FUNCTION
	depends on FB_MSM_MDSS_SAMSUNG
	bool "DDI cabc operation"
	default n
	---help---
	DDI cabc operation support

#
#	HOW TO MAKE DEF-CONFIG NAME FOR PANEL
#
#	PANEL_DDI-model_PANEL-model_RESOLUTION
#	PANEL_S6E3FA2    _AMS510CV01_FHD
#	PANEL_S6E3FA2_AMS510CV01_FHD
#

config PANEL_S6E3HF4_AMB526JS01_WQHD
	depends on FB_MSM_MDSS_SAMSUNG
	bool "LSI S6E3HF4 LDI"
	default n
	---help---
	LSI S6E3HF4 LDI 1440_2560 HERO DSC

config PANEL_S6E3HA2_AMS509ES01_WQHD
	depends on FB_MSM_MDSS_SAMSUNG
	bool "LSI S6E3HA2 LDI"
	default n
	---help---
	LSI S6E3HF2 LDI 1440_2560 HERO

config PANEL_S6E3HA3_AMS567JA01_WQHD
	depends on FB_MSM_MDSS_SAMSUNG
	bool "LSI S6E3HA3 LDI"
	default n
	---help---
	LSI S6E3HA3 LDI 1440_2560 HERO DSC TEST

config PANEL_S6E3HF4_AMB509ME01_WQHD
	depends on FB_MSM_MDSS_SAMSUNG
	bool "LSI S6E3HF4 LDI"
	default n
	---help---
	LSI S6E3HF4 LDI 1440_2560 HERO ACTIVE

config PANEL_S6E3HA5_AMB567MK01_WQHD
	depends on FB_MSM_MDSS_SAMSUNG
	bool "LSI S6E3HA5 LDI"
	default n
	---help---
	LSI S6E3HA5 LDI 1440_2560 GRACE DSC

config PANEL_S6E3FA5_AMS420MS01_FHD
	depends on FB_MSM_MDSS_SAMSUNG
	bool "LSI S6E3FA5 LDI"
	default n
	---help---
	LSI S6E3FA5 LDI 1080_1920 VEYRON

config PANEL_ANA38401_AMS968HH01_QXGA
	depends on FB_MSM_MDSS_SAMSUNG
	bool "LSI ANA38401 LDI"
	default n
	---help---
	LSI ANA38401 LDI 2048_1536 TAB S2 LTE-U VZW
