config SEC_A60Q_PROJECT
        depends on ARCH_SM6150
        default n
        bool "Samsung A60Q Project"
        help
          Support for Samsung A60Q Project

config SEC_A60Q_CHN_PROJECT
        depends on SEC_A60Q_PROJECT
        default n
        bool "Samsung A60Q CHN OPEN Project"
        help
          Support for Samsung A60Q CHN OPEN Project
		  
config SEC_M40_PROJECT
        depends on ARCH_SM6150
        default n
        bool "Samsung M40 Project"
        help
          Support for Samsung M40 Project
		  
config SEC_M40_SWA_PROJECT
        depends on SEC_M40_PROJECT
        default n
        bool "Samsung M40 SWA OPEN Project"
        help
          Support for Samsung M40 SWA OPEN Project

config SEC_A60Q_SWA_PROJECT
        depends on SEC_A60Q_PROJECT
        default n
        bool "Samsung A60Q SWA OPEN Project"
        help
          Support for Samsung A60Q SWA OPEN Project

config SEC_A70Q_PROJECT
        depends on ARCH_SM6150
        default n
        bool "Samsung A70Q Project"
        help
          Support for Samsung A70Q Project

config SEC_A70Q_EUR_PROJECT
        depends on SEC_A70Q_PROJECT
        default n
        bool "Samsung A70Q EUR OPEN Project"
        help
          Support for Samsung A70Q EUR OPEN Project

config SEC_A70Q_EUR_LDU_PROJECT
        depends on SEC_A70Q_PROJECT
        default n
        bool "Samsung A70Q EUR LDU Project"
        help
          Support for Samsung A70Q EUR LDU Project

config SEC_A70Q_USA_PROJECT
        depends on SEC_A70Q_PROJECT
        default n
        bool "Samsung A70Q USA SINGLE Project"
        help
          Support for Samsung A70Q USA SINGLE Project

config SEC_A70Q_KOR_PROJECT
        depends on SEC_A70Q_PROJECT
        default n
        bool "Samsung A70Q KOR SINGLE Project"
        help
          Support for Samsung A70Q KOR SINGLE Project
		  
config SEC_A70Q_CHN_PROJECT
        depends on SEC_A70Q_PROJECT
        default n
        bool "Samsung A70Q CHN OPEN Project"
        help
          Support for Samsung A70Q CHN OPEN Project
		  
config SEC_A70Q_SEA_OPEN_PROJECT
        depends on SEC_A70Q_PROJECT
        default n
        bool "Samsung A70Q SEA OPEN Project"
        help
          Support for Samsung A70Q SEA OPEN Project
		  
config SEC_A70Q_SEA_XTC_PROJECT
        depends on SEC_A70Q_PROJECT
        default n
        bool "Samsung A70Q SEA XTC Project"
        help
          Support for Samsung A70Q SEA XTC Project
		  
config SEC_A70Q_SEA_XSA_PROJECT
        depends on SEC_A70Q_PROJECT
        default n
        bool "Samsung A70Q SEA XSA Project"
        help
          Support for Samsung A70Q SEA XSA Project
		 
config SEC_A70Q_CAN_PROJECT
		depends on SEC_A70Q_PROJECT
        default n
        bool "Samsung A70Q CAN SINGLE Project"
        help
          Support for Samsung A70Q CAN SINGLE Project
		  
config SEC_A70Q_SWA_PROJECT
        depends on SEC_A70Q_PROJECT
        default n
        bool "Samsung A70Q SWA OPEN Project"
        help
          Support for Samsung A70Q SWA OPEN Project
		  
config SEC_A70S_PROJECT
        depends on ARCH_SM6150
        default n
        bool "Samsung A70S Project"
        help
          Support for Samsung A70S Project
		  
config SEC_A70S_SWA_PROJECT
        depends on SEC_A70S_PROJECT
        default n
        bool "Samsung A70S SWA OPEN Project"
        help
          Support for Samsung A70S SWA OPEN Project

config SEC_A70S_CHN_PROJECT
        depends on SEC_A70S_PROJECT
        default n
        bool "Samsung A70S CHN OPEN Project"
        help
          Support for Samsung A70S CHN OPEN Project		  

config SEC_R1Q_PROJECT
        depends on ARCH_SM6150
        default n
        bool "Samsung R1Q Project"
        help
          Support for Samsung R1Q Project

config SEC_R1Q_EUR_PROJECT
        depends on SEC_R1Q_PROJECT
        default n
        bool "Samsung R1Q EUR OPEN Project"
        help
          Support for Samsung A90Q EUR OPEN Project

config SEC_R1Q_EUR_LDU_PROJECT
        depends on SEC_R1Q_PROJECT
        default n
        bool "Samsung R1Q EUR LDU Project"
        help
          Support for Samsung R1Q EUR LDU Project

config SEC_R1Q_CHN_PROJECT
        depends on SEC_R1Q_PROJECT
        default n
        bool "Samsung R1Q CHN OPEN Project"
        help
          Support for Samsung R1Q CHN OPEN Project

config SEC_R1Q_CHN_LDU_PROJECT
        depends on SEC_R1Q_PROJECT
        default n
        bool "Samsung R1Q CHN LDU Project"
        help
          Support for Samsung R1Q CHN LDU Project

config SEC_R1Q_KOR_PROJECT
        depends on SEC_R1Q_PROJECT
        default n
        bool "Samsung A90Q KOR SINGLE Project"
        help
          Support for Samsung R1Q KOR SINGLE Project

config SEC_A90Q_PROJECT
        depends on ARCH_SM6150
	select SEC_R1Q_PROJECT
        default n
        bool "Samsung A90Q Project"
        help
          Support for Samsung A90Q Project

config SEC_A90Q_EUR_PROJECT
        depends on SEC_A90Q_PROJECT
	select SEC_R1Q_EUR_PROJECT
        default n
        bool "Samsung A90Q EUR OPEN Project"
        help
          Support for Samsung A90Q EUR OPEN Project

config SEC_A90Q_EUR_LDU_PROJECT
        depends on SEC_A90Q_PROJECT
	select SEC_R1Q_EUR_LDU_PROJECT
        default n
        bool "Samsung A90Q EUR LDU Project"
        help
          Support for Samsung A90Q EUR LDU Project

config SEC_A90Q_CHN_PROJECT
        depends on SEC_A90Q_PROJECT
	select SEC_R1Q_CHN_PROJECT
        default n
        bool "Samsung A90Q CHN OPEN Project"
        help
          Support for Samsung A90Q CHN OPEN Project

config SEC_A90Q_CHN_LDU_PROJECT
        depends on SEC_A90Q_PROJECT
	select SEC_R1Q_CHN_LDU_PROJECT
        default n
        bool "Samsung A90Q CHN LDU Project"
        help
          Support for Samsung A90Q CHN LDU Project

config SEC_A90Q_KOR_PROJECT
        depends on SEC_A90Q_PROJECT
	select SEC_R1Q_KOR_PROJECT
        default n
        bool "Samsung A90Q KOR SINGLE Project"
        help
          Support for Samsung A90Q KOR SINGLE Project
		  
config SEC_A70SQ_PROJECT
        depends on ARCH_SM6150
        default n
        bool "Samsung A70S Project"
        help
          Support for Samsung R1Q Project

config SEC_A70SQ_EUR_PROJECT
        depends on SEC_A70SQ_PROJECT
        default n
        bool "Samsung A70S EUR OPEN Project"
        help
          Support for Samsung A70S EUR OPEN Project

config SEC_A70SQ_SWA_PROJECT
        depends on SEC_A70SQ_PROJECT
        default n
        bool "Samsung A70S SWA OPEN Project"
        help
          Support for Samsung A70S SWA OPEN Project
		  
config SEC_A71_PROJECT
        depends on ARCH_SM6150
        default n
        bool "Samsung A71 Project"
        help
          Support for Samsung A71 Project

config SEC_A71_EUR_LDU_PROJECT
        depends on SEC_A71_PROJECT
        default n
        bool "Samsung A71 EUR LDU Project"
        help
          Support for Samsung A71 EUR LDU Project

config SEC_A71_SWA_PROJECT
        depends on SEC_A71_PROJECT
        default n
        bool "Samsung A71 SWA OPEN Project"
        help
          Support for Samsung A71 SWA OPEN Project
		  
config SEC_A71_CAN_PROJECT
        depends on SEC_A71_PROJECT
        default n
        bool "Samsung A71 CAN SINGLE Project"
        help
          Support for Samsung A71 CAN SINGLE Project		  

config SEC_A71_EUR_PROJECT
        depends on SEC_A71_PROJECT
        default n
        bool "Samsung A71 EUR OPEN Project"
        help
          Support for Samsung A71 EUR OPEN Project
		  
config SEC_M41_PROJECT
        depends on ARCH_SM6150
        default n
        bool "Samsung M41 Project"
        help
          Support for Samsung M41 Project

config SEC_M41_SWA_PROJECT
        depends on SEC_M41_PROJECT
        default n
        bool "Samsung M41 SWA OPEN Project"
        help
          Support for Samsung M41 SWA OPEN Project
          
config SEC_M51_PROJECT
        depends on ARCH_SM6150
        default n
        bool "Samsung M51 Project"
        help
          Support for Samsung M51 Project

config SEC_M51_EUR_PROJECT
        depends on SEC_M51_PROJECT
        default n
        bool "Samsung M51 EUR OPEN Project"
        help
          Support for Samsung M51 EUR OPEN Project

config SEC_M51_SWA_PROJECT
        depends on SEC_M51_PROJECT
        default n
        bool "Samsung M51 SWA OPEN Project"
        help
          Support for Samsung M51 SWA OPEN Project

config SEC_A52Q_PROJECT
        depends on ARCH_SM6150
        default n
        bool "Samsung A52Q Project"
        help
          Support for Samsung A52Q Project

config SEC_A52Q_EUR_PROJECT
        depends on SEC_A52Q_PROJECT
        default n
        bool "Samsung A52Q EUR OPEN Project"
        help
          Support for Samsung A52Q EUR OPEN Project

config SEC_M42Q_PROJECT
        depends on ARCH_SM6150
        default n
        bool "Samsung M42Q Project"
        help
          Support for Samsung M42Q Project

config SEC_M42Q_EUR_PROJECT
        depends on SEC_M42Q_PROJECT
        default n
        bool "Samsung M42Q EUR OPEN Project"
        help
          Support for Samsung M42Q EUR OPEN Project

config SEC_A72Q_PROJECT
        depends on ARCH_SM6150
        default n
        bool "Samsung A72Q Project"
        help
          Support for Samsung A72Q Project

config SEC_A72Q_EUR_PROJECT
        depends on SEC_A72Q_PROJECT
        default n
        bool "Samsung A72Q EUR OPEN Project"
        help
          Support for Samsung A72Q EUR OPEN Project
