	def_bool y

	select SWIOTLB_XEN
	select PARAVIRT
	help
	  Say Y if you want to run Linux in a Virtual Machine on Xen on ARM64.

	default n
	help
	  Say Y if you want to run Linux as a guest of the OKL4 hypervisor

	default n
	help
	  It enables a micro hypervisor.
	  It's samsung's hypervisor and it should be combined with QC hyp.
	  So you must check a hypX(samsung hypervisor image)
	  RKP and etc can be loaded on it.

	select UH
	default n
	help
		it protects a kernel text and etc.

	default n
	help
	  it enables rkp test.

	default n
	help
	  Prevents unauthorized cred modification.

	default n
	help
	  enable KDP test.


	default y
	help
	  Randomizes the location of the module region without considering the
	  location of the core kernel. This way, it is impossible for modules
	  to leak information about the location of core kernel data structures
	  but it does imply that function calls between modules and the core
	  kernel will need to be resolved via veneers in the module PLT.

	  When this option is not set, the module region will be randomized over
	  a limited range that contains the [_stext, _etext] interval of the
	  core kernel, so branch relocations are always in range.



	select LIBFDT
	select UCS2_STRING
	select EFI_PARAMS_FROM_FDT
	select EFI_RUNTIME_WRAPPERS
	select EFI_STUB
	select EFI_ARMSTUB
	default y
	help
	  This option provides support for runtime services provided
	  by UEFI firmware (such as non-volatile variables, realtime
          clock, and platform reset). A UEFI stub is also provided to
	  allow the kernel to be booted as an EFI application. This
	  is only useful on systems that have UEFI firmware.

	select COMPAT_BINFMT_ELF if BINFMT_ELF
	select HAVE_UID16
	select OLD_SIGSUSPEND3
	select COMPAT_OLD_SIGACTION
	help
	  This option enables support for a 32-bit EL0 running under a 64-bit
	  kernel at EL1. AArch32-specific components such as system calls,
	  the user helper functions, VFP support and the ptrace interface are
	  handled appropriately by the kernel.

	  If you use a page size other than 4KB (i.e, 16KB or 64KB), please be aware
	  that you will only be able to execute AArch32 binaries that were compiled
	  with page size aligned segments.

	  If you want to execute 32-bit userspace applications, say Y.



config SEC_GTS6LWIFI_PROJECT
	default n
	bool "Samsung GTS6LWIFI Project"
	help
	  Support for Samsung GTS6LWIFI Project

config MACH_GTS6LWIFI_EUR_OPEN
        default n
        bool "Samsung GTS6LWIFI EUR OPEN"
        help
          Support for Samsung GTS6LWIFI EUR OPEN device.

