CONFIG_CMDLINE="panic_on_warn=0 "
CONFIG_CMDLINE_EXTEND=y
CONFIG_KEYBOARD_S2MPS25=m
CONFIG_MFD_S2MPS25=m
CONFIG_MFD_S2MPS26=m
CONFIG_MFD_S2MPB02=m
CONFIG_MFD_S2MPM07=m
CONFIG_REGULATOR_S2MPS25=m
CONFIG_REGULATOR_S2MPS26=m
CONFIG_REGULATOR_S2MPM07=m
CONFIG_REGULATOR_S2MPB02=m
CONFIG_REGULATOR_S2MPB03=m
CONFIG_REGULATOR_S2DOS05=m
CONFIG_RTC_DRV_S2MPS25=m
CONFIG_S2MPS25_ADC=m
CONFIG_PINCTRL_SAMSUNG_S2MPS26=m
CONFIG_PINCTRL_SAMSUNG_S2MPM07=m
CONFIG_TOUCHSCREEN_SEC_TS=m
CONFIG_SND_SOC_SAMSUNG_EXYNOS_CS35L41_I2C=m
CONFIG_SND_SOC_SAMSUNG_EXYNOS9925_SOUND=m

CONFIG_USE_S2M_MUIC=m
CONFIG_MUIC_SYSFS=y
CONFIG_MUIC_CORE=y
CONFIG_MUIC_MANAGER=y
CONFIG_MUIC_S2MU106=m
CONFIG_MUIC_SUPPORT_CCIC=y

CONFIG_USE_S2M_PDIC=m
CONFIG_PDIC_S2MU106=y
CONFIG_PDIC_AUDIO_ACC=y
CONFIG_CHECK_CTYPE_SIDE=y
CONFIG_SUPPORT_USB_TYPEC_OPS=y
CONFIG_PDIC_SUPPORT_DP=y

CONFIG_IFCONN_NOTIFIER_MODULE=m
CONFIG_IFCONN_NOTIFIER=y
CONFIG_IFCONN_MANAGER=y

CONFIG_USB_NOTIFY_LAYER_LSI=y
CONFIG_USB_NOTIFY_LAYER_MODULE=m
CONFIG_USB_NOTIFIER=m

CONFIG_FUELGAUGE_S2MU106=m
CONFIG_CHARGER_S2MU106=m
CONFIG_MFD_S2MU106=m
CONFIG_LEDS_S2MU106_FLASH=m
CONFIG_PM_S2MU106=m
CONFIG_MANAGER_S2M_CHARGER=m
CONFIG_S2M_THERMAL=m
CONFIG_SWITCHING_S2ASL01=m

CONFIG_CAMERA_CIS_2LD_OBJ=m
CONFIG_CAMERA_CIS_GW2_OBJ=m
CONFIG_CAMERA_CIS_2LA_OBJ=m
CONFIG_CAMERA_CIS_3H1_OBJ=m

CONFIG_CAMERA_FLASH_S2MU106_OBJ=m
CONFIG_CAMERA_ACT_AK737X_OBJ=m

CONFIG_DRM_SAMSUNG_DP=y
CONFIG_DRM_PANEL_SAMSUNG_S6E3HAB=m

CONFIG_EXYNOS_EL2=m
CONFIG_EXYNOS_S2MPU=m

CONFIG_SENSOR_DRV=y

# CONFIG_SEC_MODEM_S5000AP is not set
# CONFIG_EXYNOS_CPIF_IOMMU is not set
# CONFIG_HW_REV_DETECT is not set
# CONFIG_REINIT_VSS is not set
# CONFIG_VERIFY_VSS is not set
# CONFIG_CPIF_DIRECT_DM is not set
# CONFIG_GNSS_PMUCAL is not set
# CONFIG_EXYNOS_GNSS_IF is not set
# CONFIG_CP_UART_NOTI is not set

CONFIG_SEC_MODEM_S5100=m
CONFIG_SHM_IPC=m
CONFIG_MODEM_IF_QOS=m
CONFIG_PCI_EXYNOS_S5E9925_S5300=m
# CONFIG_PCI_EXYNOS_S5E9925 is not set
CONFIG_LINK_DEVICE_PCIE_IOMMU=y
# CONFIG_SUSPEND_DURING_VOICE_CALL is not set
# CONFIG_CPIF_DIRECT_DM is not set
# CONFIG_CPIF_VENDOR_HOOK is not set
