
CONFIG_ICD=y
CONFIG_PDIC_SLSI_NON_MCU=y
CONFIG_PDIC_PD30=y
CONFIG_PDIC_S2MU107=y
CONFIG_DEV_RIL_BRIDGE=y
# CONFIG_SECURITY_DEFEX is not set
# CONFIG_PROCA is not set
CONFIG_SENSORS=y
CONFIG_SENSORS_SSC=y
# CONFIG_SENSORS_HUB is not set
CONFIG_SEC_VIBRATOR=y
CONFIG_SEC_LABO=y
CONFIG_SEC_NFC_LOGGER=y
# CONFIG_SECURITY_DSMS is not set
CONFIG_SEC_STI=y
CONFIG_SEC_AUTO_INPUT=y
CONFIG_KUNIT_TEST=y
CONFIG_KUNIT_EXAMPLE_TEST=y
CONFIG_PLATFORM_MOCK=y
CONFIG_KUNIT_MANAGER=y
CONFIG_TZIC=y
# CONFIG_FIVE is not set
CONFIG_USE_MUIC=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_VBUS_NOTIFIER=y
CONFIG_MUIC_CORE=y
CONFIG_MUIC_MANAGER=y
CONFIG_MUIC_SUPPORT_PDIC=y
CONFIG_MUIC_SUPPORT_PRSWAP=y
CONFIG_MUIC_SYSFS=y
CONFIG_MUIC_HV=y
CONFIG_HV_MUIC_VOLTAGE_CTRL=y
CONFIG_MUIC_SUPPORT_POWERMETER=y
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_PDIC_S2MU106=y
CONFIG_USB_TYPEC_MANAGER_NOTIFIER=y
CONFIG_IF_CB_MANAGER=y
CONFIG_PDIC_NOTIFIER=y
CONFIG_SEC_ABC=y
CONFIG_SEC_ABC_HUB=y
CONFIG_SEC_ABC_HUB_BOOTC=y
CONFIG_SENSORS_ET7XX=y
CONFIG_FINGERPRINT_SECURE=y
CONFIG_I2C_GPIO=y
CONFIG_SEC_DETECT_CONN=y
CONFIG_PWM_GPCLK=y
CONFIG_ISA1000_VIBRATOR=y
CONFIG_CHARGER_PCA9468=y
CONFIG_SEND_PDMSG_IN_PPS_REQUEST_WORK=y
CONFIG_MST_LDO=y
CONFIG_MST_ARCH_QCOM=y
CONFIG_MST_LPM_DISABLE=y
CONFIG_MFD_S2MU106=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_VIBRATOR_S2MU106=y
CONFIG_VIBRATOR_S2MU106_VOLTAGE_3P3=y
CONFIG_SENSORS_SX9360=y
# CONFIG_SENSORS_SX9360_SUB is not set
CONFIG_REGULATOR_S2MPB03=y
CONFIG_MUIC_S2MU106=y
CONFIG_HV_MUIC_S2MU106_AFC=y
CONFIG_MUIC_S2MU106_RID=y
CONFIG_MFD_S2MU107=y
CONFIG_INPUT_HALL_IC=y
CONFIG_SENSORS_SEC_THERMISTOR=y
CONFIG_FUELGAUGE_S2MU106=y
CONFIG_FUELGAUGE_S2MU106_USE_5MILLIOHM=y
CONFIG_NFC_PN547=y
CONFIG_NFC_PN547_ESE_SUPPORT=y
CONFIG_ESE_SECURE=y
#CONFIG_ESE_USE_TZ_API is not set
CONFIG_PM_S2MU106=y
CONFIG_CHARGER_S2MU106=y
CONFIG_LSI_IFPMIC=y
CONFIG_MUIC_S2MU107=y
CONFIG_HV_MUIC_S2MU107_AFC=y
CONFIG_MUIC_S2MU107_RID=y
CONFIG_FUELGAUGE_S2MU107=y
CONFIG_FUELGAUGE_S2MU107_BATCAP_LRN=y
CONFIG_FUELGAUGE_S2MU107_TEMP_COMPEN=y
CONFIG_TOUCHSCREEN_SEC_TS_Y771=y
CONFIG_TOUCHSCREEN_SEC_TS_GLOVEMODE=y
CONFIG_PM_S2MU107=y
CONFIG_CHARGER_S2MU107=y
CONFIG_CHARGER_S2MU107_DIRECT=y
CONFIG_DIRECT_CHARGING=y
CONFIG_STEP_CHARGING=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_AGE_FORECAST=y
CONFIG_BATTERY_CISD=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_BATTERY_NOTIFIER=y
