
# CONFIG_ICD is not set
CONFIG_FUELGAUGE_SM5714=y
CONFIG_DEV_RIL_BRIDGE=y
# CONFIG_SECURITY_DEFEX is not set
# CONFIG_PROCA is not set
CONFIG_SEC_VIBRATOR=y
CONFIG_SEC_VIB_NOTIFIER=y
CONFIG_IIO=y
CONFIG_IIO_BUFFER=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_SHUB=y
CONFIG_SEC_NFC_LOGGER=y
# CONFIG_SECURITY_DSMS is not set
# CONFIG_FIVE_TEE_DRIVER is not set
CONFIG_MUIC_NOTIFIER=y
CONFIG_VBUS_NOTIFIER=y
CONFIG_MUIC_AFC_RETRY=y
CONFIG_MUIC_HV=y
CONFIG_MUIC_SUPPORT_PDIC=y
CONFIG_USE_MUIC=y
CONFIG_SEC_INPUT_BOOSTER=y
CONFIG_SEC_INPUT_BOOSTER_MTK=y
# CONFIG_TZIC is not set
CONFIG_SB_CORE=y
CONFIG_SB_PQUEUE=y
CONFIG_SB_NOTIFY=y
CONFIG_SB_SYSFS=y
CONFIG_SB_VOTE=y
CONFIG_VIBRATOR_VIB_INFO=y
# CONFIG_FIVE is not set
CONFIG_INPUT_SEC_INPUT=y
CONFIG_SEC_DEBUG_TSP_LOG=y
# CONFIG_INPUT_SEC_SECURE_TOUCH is not set
CONFIG_TOUCHSCREEN_DUMP_MODE=y
# CONFIG_INPUT_TOUCHSCREEN_TCLMV2 is not set
# CONFIG_TOUCHSCREEN_DUAL_FOLDABLE is not set
CONFIG_INPUT_SEC_NOTIFIER=y
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_USB_TYPEC_MANAGER_NOTIFIER=y
CONFIG_IF_CB_MANAGER=y
CONFIG_CHARGER_SM5714=y
CONFIG_PDIC_NOTIFIER=y
CONFIG_SHUB_MODULE=y
CONFIG_SHUB_PM_WAKEUP_LINUX_VER_5_4=y
CONFIG_SHUB_AP_STATUS_CMD=y
CONFIG_SHUB_MTK=y
# CONFIG_SHUB_FIRMWARE_DOWNLOAD is not set
CONFIG_BATTERY_SAMSUNG=y
CONFIG_SEC_PD=y
CONFIG_BATTERY_GKI=y
CONFIG_BATTERY_AGE_FORECAST=y
CONFIG_BATTERY_CISD=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_BATTERY_LOGGING=y
CONFIG_ENABLE_FULL_BY_SOC=y
CONFIG_SUPPORT_HV_CTRL=y
CONFIG_I2C_GPIO=y
CONFIG_MFD_SM5714=y
CONFIG_SENSORS_ET5XX=y
CONFIG_FINGERPRINT_SECURE=y
CONFIG_SENSORS_FINGERPRINT_MTK=y
CONFIG_TOUCHSCREEN_NOVATEK_NT36523_SPI=y
CONFIG_SENSORS_SEC_THERMISTOR=y
CONFIG_TOUCHSCREEN_HIMAX_HX83XXX_SPI=y
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83102 is not set
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83108 is not set
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83121 is not set
CONFIG_TOUCHSCREEN_HIMAX_IC_HX83112=y
CONFIG_DC_VIBRATOR=y
# CONFIG_MTK_VIBRATOR is not set
CONFIG_REGULATOR_S2MPB03=y
CONFIG_MUIC_SM5714=y
CONFIG_MUIC_BCD_RESCAN=y
CONFIG_SENSORS_SUPPORT_MTK=y
CONFIG_SENSORS_ISG6320=y
# CONFIG_SENSORS_ISG6320_SUB is not set
# CONFIG_SENSORS_ISG6320_WIFI is not set
CONFIG_USE_MULTI_CHANNEL=y
CONFIG_SAMSUNG_NFC=y
CONFIG_NFC_PN547=y
# CONFIG_NFC_PN547_ESE_SUPPORT is not set
CONFIG_NFC_FEATURE_SN100U=y
# CONFIG_ESE_SECURE is not set
CONFIG_MTK_NFC_CLKBUF_ENABLE=y
CONFIG_SEC_NFC_WAKELOCK_METHOD=0
CONFIG_NFC_PVDD_LATE_ENABLE=y
CONFIG_SEC_NFC_COMPAT_IOCTL=y
# CONFIG_MAKE_NODE_USING_PLATFORM_DEVICE is not set
CONFIG_PDIC_SM5714=y
CONFIG_SM5714_FACTORY_MODE=y
