
CONFIG_MTK_CHARGER=y
CONFIG_ICD=y
CONFIG_IIO=y
CONFIG_IIO_BUFFER=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_SENSORS_SSP=y
# CONFIG_SECURITY_DEFEX is not set
# CONFIG_PROCA is not set
CONFIG_TYPEC=y
CONFIG_SEC_VIBRATOR=y
CONFIG_SEC_VIB_NOTIFIER=y
CONFIG_SEC_NFC_LOGGER=y
# CONFIG_SECURITY_DSMS is not set
CONFIG_FUELGAUGE_MTK=y
CONFIG_USE_MUIC=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_VBUS_NOTIFIER=y
CONFIG_SEC_AUTO_INPUT=y
CONFIG_SEC_INPUT_BOOSTER=y
CONFIG_SEC_INPUT_BOOSTER_MTK=y
CONFIG_TZIC=y
# CONFIG_FIVE is not set
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_USB_TYPEC_MANAGER_NOTIFIER=y
CONFIG_IF_CB_MANAGER=y
CONFIG_PDIC_NOTIFIER=y
CONFIG_SENSORS_SSP_BAROMETER=y
CONFIG_SENSORS_SSP_BAROMETER_LPS22HH=y
CONFIG_SENSORS_SSP_MAGNETIC=y
CONFIG_SENSORS_SSP_MAGNETIC_AK09918C=y
CONFIG_SENSORS_SSP_GYROSCOPE=y
CONFIG_SENSORS_SSP_GYROSCOPE_ICM42605M=y
CONFIG_SENSORS_SSP_GYROSCOPE_LSM6DSL=y
CONFIG_SENSORS_SSP_ACCELOMETER=y
CONFIG_SENSORS_SSP_ACCELOMETER_ICM42605M=y
CONFIG_SENSORS_SSP_ACCELOMETER_LSM6DSL=y
CONFIG_INPUT_HALL_IC=y
CONFIG_SENSORS_SEC_THERMISTOR=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_AGE_FORECAST=y
CONFIG_BATTERY_CISD=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_BATTERY_NOTIFIER=y
CONFIG_USB_FACTORY_MODE=y
CONFIG_SUPPORT_HV_CTRL=y
CONFIG_DISCRETE_CHARGER=y
CONFIG_DC_VIBRATOR=y
# CONFIG_MTK_VIBRATOR is not set
CONFIG_SENSORS_ET5XX=y
CONFIG_FINGERPRINT_SECURE=y
CONFIG_SENSORS_FINGERPRINT_MTK=y
CONFIG_SEC_NFC=y
#CONFIG_ESE_P3_LSI is not set
#CONFIG_ESE_SECURE is not set
CONFIG_SSP_SENSOR_HUB_MTK=y
# CONFIG_SENSORS_SSP_FIRMWARE_DOWNLOAD is not set
CONFIG_SENSORS_SSP_DUMP=y
