CONFIG_PROJECT_GTS210VE=y
CONFIG_SEC_GTS210VEWIFI_PROJECT=y
CONFIG_MACH_GTS210VEWIFI_EUR_OPEN=y
CONFIG_PROC_DEVICETREE=y

#
# MAX77843 IC
#
# CONFIG_EXTCON is not set
# CONFIG_EXTCON_MAX77843 is not set
# CONFIG_MFD_MAX77843 is not set

# MUIC
CONFIG_USE_MUIC=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_MUIC_UNIVERSAL=y
CONFIG_MUIC_UNIVERSAL_SM5703=y
CONFIG_MUIC_UNIVERSAL_SM5705=y
# CONFIG_MUIC_UNIVERSAL_SM5705_AFC is not set
CONFIG_MUIC_PINCTRL=y
CONFIG_SM5705_SUPPORT_LANHUB=y

CONFIG_USB_HOST_NOTIFY=y

# RUSTPROOF
CONFIG_MUIC_SUPPORT_RUSTPROOF=y

# VBUS_NOTI
CONFIG_VBUS_NOTIFIER=y

#HALL IC
CONFIG_SENSORS_HALL=y
# CONFIG_CERTIFY_HALL is not set

# Service LED
# CONFIG_LEDS_MAX77843_RGB is not set

#
# MOTOR
#
# CONFIG_SS_VIBRATOR is not set

#
# DISPLAY(MDSS)
#
CONFIG_PANEL_ANA38401_AMS968HH01_QXGA=y

#FLASH
#CONFIG_FLASHLIGHT is not set
#CONFIG_SM_FLASH_LED is not set
#CONFIG_LEDS_SM5705 is not set

#CAMERA
CONFIG_S5K6B2YX=y
#CONFIG_MSM_FRONT_EEPROM is not set

# XO SHUTDOWN
CONFIG_UART3=y

#OIS
#CONFIG_MSM_OIS=y
#CONFIG_BU24219_OIS=y
#CONFIG_CAM_EXTERNAL=y

# BATTERY & Charger
# CONFIG_FUELGAUGE_MAX77843 is not set
# CONFIG_FUELGAUGE_MAX77843_COULOMB_COUNTING is not set
# CONFIG_CHARGER_MAX77843 is not set
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_PREVENT_SOC_JUMP=y
CONFIG_CHARGER_SM5705=y
CONFIG_FUELGAUGE_SM5705=y
CONFIG_CHARGER_SM5703=y
CONFIG_FUELGAUGE_SM5703=y
CONFIG_CHARGER_SM5703_DUALPATH=y
CONFIG_SEC_MPP_SHARE=y
CONFIG_SW_SELF_DISCHARGING=y
CONFIG_BATTERY_SWELLING=y
# CONFIG_AFC_CHARGER_MODE is not set
CONFIG_BATTERY_SWELLING_SELF_DISCHARGING=y
CONFIG_MUIC_SUPPORT_MULTIMEDIA_DOCK=y
CONFIG_MULTIBATT_SUPPORT=y
CONFIG_INBATVOLT_FG=y
CONFIG_BATTERY_AGE_FORECAST=y

#Power off Alarm
# CONFIG_RTC_AUTO_PWRON is not set
# CONFIG_RTC_AUTO_PWRON_PARAM is not set

#
# InputDevice
#
# CONFIG_TOUCHSCREEN_DUMP_MODE is not set
# CONFIG_SECURE_TOUCH is not set
CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_DSX2=y
CONFIG_KEYBOARD_TC350K=y


# CONFIG_MFD_S2MPB02 is not set
# CONFIG_REGULATOR_S2MPB02 is not set
CONFIG_MFD_SM5705=y
CONFIG_MFD_SM5703=y
CONFIG_REGULATOR_SM5705=y
CONFIG_REGULATOR_SM5703=y

# Finger print sensor
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_SENSORS_FINGERPRINT_SYSFS=y
CONFIG_SENSORS_VFS7XXX=y
CONFIG_SENSORS_FP_SPI_NUMBER=4
CONFIG_SENSORS_FP_SPI_GPIO_START=12
CONFIG_SENSORS_FP_SPI_GPIO_END=15
CONFIG_SENSORS_FP_LOCKSCREEN_MODE=y

#
# Sensor
#
CONFIG_IIO=y
CONFIG_SENSORS=y
CONFIG_SENSORS_CORE=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_ST_LSM6DS3_IIO=y
CONFIG_SENSORS_YAS_IIO_MAGNETOMETER=y
CONFIG_SENSORS_CS5032_IIO=y
CONFIG_SENSORS_SX9310_WIFI=y
CONFIG_SENSORS_SX9310_WIFI_DEFENCE_CODE_FOR_TA_NOISE=y
CONFIG_SENSORS_SX9310_WIFI_DEFENCE_CODE_FOR_DAMAGE=y

#NFC
#CONFIG_NFC=y
#CONFIG_SEC_NFC=y
#CONFIG_ESE_P3=y
#CONFIG_ESE_SECURE=y
#CONFIG_ESE_SECURE_SPI_PORT=0
#CONFIG_ESE_SPI_GPIO_START=0
#CONFIG_ESE_SPI_GPIO_END=3

# Bluetooth
CONFIG_MSM_BT_POWER=y

#
# Audio
#
CONFIG_SND_SOC_MSM8X16_WCD=y
# CONFIG_AUDIO_SPEAKER_OUT_NXP_AMP_ENABLE is not set
CONFIG_SND_SOC_MSM8X16_RT5659=y
CONFIG_SND_SOC_SECONDARY_AUXPCM=y

# Earjack
CONFIG_SAMSUNG_JACK=y
CONFIG_INPUT_GPIO=y
CONFIG_SW_100K_TO_GND=y

#MST
# CONFIG_MST_LDO is not set

#Scheduler
CONFIG_SCHED_TASK_BEHAVIOR=y



# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC=y
CONFIG_ZSMALLOC_STAT=y
CONFIG_ZSMALLOC_OBJ_SEQ=n
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_ZSWAP_ENABLE_WRITEBACK=n
CONFIG_ZSWAP_COMPACTION=y
CONFIG_ZPOOL=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=y
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n

# MMAP READAROUND
CONFIG_MMAP_READAROUND_LIMIT=16

# Add Qualcomm Wifi features
CONFIG_NETDEVICES=y
CONFIG_WIRELESS=y
CONFIG_CNSS=y
CONFIG_CNSS_SDIO=y
CONFIG_CLD_HL_SDIO_CORE=y
CONFIG_CLD_DEBUG=y
CONFIG_CLD_LL_CORE=y
CONFIG_WCNSS_MEM_PRE_ALLOC=y
CONFIG_CNSS_MAC_BUG=y
CONFIG_WEXT_CORE=y
CONFIG_WEXT_PROC=y
CONFIG_CFG80211=y
CONFIG_CFG80211_WEXT=y
CONFIG_CFG80211_DEFAULT_PS=y
CONFIG_CFG80211_ALLOW_RECONNECT=y
CONFIG_WLAN=y
CONFIG_CNSS_CRYPTO=y
CONFIG_QCA_CLD_WLAN=y
CONFIG_QCACLD_WLAN_LFR3=y
CONFIG_PRIMA_WLAN_OKC=y
CONFIG_PRIMA_WLAN_11AC_HIGH_TP=y
CONFIG_WLAN_FEATURE_11W=y
CONFIG_WLAN_FEATURE_LPSS=y
CONFIG_QCOM_VOWIFI_11R=y
CONFIG_WLAN_FEATURE_NAN=y
CONFIG_WLAN_FEATURE_NAN_DATAPATH=y
CONFIG_QCOM_TDLS=y
CONFIG_QCOM_LTE_COEX=y
CONFIG_WLAN_FEATURE_MEMDUMP=y
CONFIG_WLAN_OFFLOAD_PACKETS=y
CONFIG_QCA_WIFI_AUTOMOTIVE_CONC=y
CONFIG_WLAN_FEATURE_RX_WAKELOCK=y

#SECDEBUG
CONFIG_DEBUG_NOTIFIERS=y

# EXTEND SERIAL NUM LENGTH
CONFIG_EXTEND_SERIAL_NUM_16=y
