CONFIG_CGROUP_DEBUG=y
CONFIG_LIMITS_MONITOR=y
CONFIG_LIMITS_LITE_HW=y
CONFIG_CORESIGHT=n
CONFIG_CORESIGHT_EVENT=n
CONFIG_CORESIGHT_FUSE=n
CONFIG_CORESIGHT_CTI=n
CONFIG_CORESIGHT_CTI_SAVE_DISABLE=n
CONFIG_CORESIGHT_TMC=n
CONFIG_CORESIGHT_TPIU=n
CONFIG_CORESIGHT_FUNNEL=n
CONFIG_CORESIGHT_REPLICATOR=n
CONFIG_CORESIGHT_STM=n
CONFIG_CORESIGHT_HWEVENT=n
CONFIG_CORESIGHT_TPDA=n
CONFIG_CORESIGHT_TPDM=n
CONFIG_CORESIGHT_ETMV4=n
CONFIG_CORESIGHT_DBGUI=n
CONFIG_CORESIGHT_REMOTE_ETM=n
CONFIG_CORESIGHT_QPDI=n
CONFIG_CP_ACCESS64=y
CONFIG_MSM_GLADIATOR_ERP=y
CONFIG_MSM_SMD_DEBUG=y
CONFIG_MSM_DCC=y
CONFIG_MSM_DEBUG_LAR_UNLOCK=y
# CONFIG_MSM_FORCE_WDOG_BITE_ON_PANIC is not set
# CONFIG_CORESIGHT_CTI_SAVE_DISABLE is not set
CONFIG_MSM_OCMEM_DEBUG=y
CONFIG_MSM_OCMEM_NONSECURE=y
CONFIG_MSM_XPU_ERR_FATAL=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC=y
# CONFIG_DETECT_HUNG_TASK is not set
CONFIG_PANIC_ON_RECURSIVE_FAULT=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_DEBUG_OBJECTS_FREE=y
CONFIG_DEBUG_OBJECTS_TIMERS=y
CONFIG_DEBUG_OBJECTS_WORK=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_DEBUG_OBJECTS_PERCPU_COUNTER=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_DEBUG_KMEMLEAK_EARLY_LOG_SIZE=4000
CONFIG_DEBUG_TASK_STACK_SCAN_OFF=y
CONFIG_DEBUG_MODULE_SCAN_OFF=y

# BluesMan: MCS queuing does not work if
# DEBUGGING stuffs are enabled. So, disable it.
# With this disabling, _all_ builds will honour
# MCS algorithm.
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
# CONFIG_DEBUG_LOCK_ALLOC is not set
# CONFIG_PROVE_LOCKING is not set
# CONFIG_DEBUG_RT_MUTEXES is not set

CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_MEMORY_INIT=y
CONFIG_DEBUG_LIST=y
CONFIG_FAULT_INJECTION=y
CONFIG_FAIL_PAGE_ALLOC=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_FAULT_INJECTION_STACKTRACE_FILTER=y
CONFIG_BLK_DEV_IO_TRACE=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_PANIC_ON_DATA_CORRUPTION=y
CONFIG_STRICT_MEMORY_RWX=y
# CONFIG_MSM_BUSPM_DEV is not set
CONFIG_DEBUG_PREEMPT=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_SCHED_DEBUG=y
CONFIG_EDAC=y
CONFIG_EDAC_MM_EDAC=y
CONFIG_EDAC_CORTEX_ARM64=y
CONFIG_EDAC_CORTEX_ARM64_PANIC_ON_UE=y
CONFIG_CHECK_GPT=y
CONFIG_SEC_DEBUG_SEC_WDOG_BITE=y
CONFIG_USER_RESET_DEBUG_TEST=y
# CONFIG_PAGE_OWNER is not set
CONFIG_SLUB_DEBUG=y
CONFIG_SLUB_DEBUG_ON=y
CONFIG_SLABINFO=y 
CONFIG_DEBUG_PAGEALLOC=y 
CONFIG_SEC_PMIC_DUMP=y
CONFIG_DEBUG_THERMAL=y

# Rooting Prevention
# CONFIG_SEC_RESTRICT_ROOTING is not set
# CONFIG_SEC_RESTRICT_SETUID is not set
# CONFIG_SEC_RESTRICT_FORK is not set
# CONFIG_SEC_RESTRICT_ROOTING_LOG is not set

#flags to check the corruption
CONFIG_FORCE_PAGES=y
CONFIG_FREE_PAGES_RDONLY=y
CONFIG_KERNEL_TEXT_RDONLY=y

# GPIO DVS feature
CONFIG_SEC_GPIO_DVS=y

# TRUSTONIC feature
CONFIG_MOBICORE_SUPPORT=y
CONFIG_MOBICORE_API=y
CONFIG_TRUSTONIC_TEE_DEBUG=y
