# sm7150_sec_a90q_eur_open_defconfig

CONFIG_SEC_A90Q_PROJECT=y
CONFIG_SEC_A90Q_EUR_LDU_PROJECT=y

# Display SUB PMIC
# CONFIG_REGULATOR_S2DOS03 is not set

# Display CAMERA PMIC
CONFIG_REGULATOR_S2MPB03=y

#CAMERA
CONFIG_SAMSUNG_FRONT_TOF=y
CONFIG_SAMSUNG_REAR_TOF=y
CONFIG_SAMSUNG_FRONT_DUAL=y
CONFIG_SAMSUNG_MULTI_CAMERA=y
CONFIG_SAMSUNG_REAR_TRIPLE=y
CONFIG_CAMERA_SYSFS_V2=y
CONFIG_USE_CAMERA_HW_BIG_DATA=y

#DISPLAY
CONFIG_PANEL_S6E3FA7_AMS604NL07_FHD=y
CONFIG_PANEL_S6E3FC2_AMS670TA01_FHD=y
#CONFIG_SUPPORT_POC_FLASH=n

CONFIG_TOUCHSCREEN_IST40XX=y
CONFIG_INPUT_TOUCHSCREEN_TCLMV2=y
CONFIG_INPUT_SEC_SECURE_TOUCH=y

#Audio
CONFIG_SND_SOC_TFA98XX=y
CONFIG_SND_SOC_TFA9894=y
CONFIG_GPIO_TACNA=y
CONFIG_MFD_CS48L32=y
CONFIG_MFD_CS48L33=y
CONFIG_SND_SOC_WM_ADSP=y
CONFIG_SND_SOC_CS48L32=y
CONFIG_MFD_TACNA_SPI=y
CONFIG_REGULATOR_ARIZONA_MICSUPP=y

#Camera
CONFIG_SAMSUNG_MULTI_CAMERA=y

# BATTERY
CONFIG_QPNP_QG=y
CONFIG_QPNP_SMB5=y
CONFIG_SMB1390_CHARGE_PUMP_PSY=y
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_USING_QC=y
CONFIG_BATTERY_CISD=y
CONFIG_DIRECT_CHARGING=y
CONFIG_STORE_MODE=y

# CONFIG_PM6150_SBU_VBUS_SHORT is not set
CONFIG_PM6150_CC_VBUS_SHORT=y
CONFIG_PM6150_WATER_DETECT=y

# USB Notifier
CONFIG_USB_STORAGE_DETECT=y
CONFIG_USB_HOST_NOTIFY=y
CONFIG_USB_NOTIFY_LAYER=y
CONFIG_USB_NOTIFIER=y
CONFIG_USB_EXTERNAL_NOTIFY=y
CONFIG_USB_NOTIFY_PROC_LOG=y
CONFIG_USB_HW_PARAM=y
CONFIG_USB_CCIC_NOTIFIER_USING_QC=y
CONFIG_USB_TYPEC_MANAGER_NOTIFIER=y
CONFIG_USE_CCIC=y
CONFIG_CCIC_NOTIFIER=y
CONFIG_CCIC_PM6150=y
CONFIG_PM6150_FACTORY_MODE=y
CONFIG_TYPEC=y
CONFIG_SEC_EXT=y
CONFIG_VBUS_NOTIFIER=y

# RID
CONFIG_RID_ADC=y
CONFIG_PM6150L_RID_ADC=y
CONFIG_PM6150_USB_FALSE_DETECTION_WA_BY_GND=y

#AFC
CONFIG_AFC=y
CONFIG_PM6150_AFC=y

#GPIO_EXPANDER
CONFIG_GPIO_PCAL6524=y

#MOTOR
CONFIG_STEP_MOTOR_STSPIN220=y

# NFC & eSE
CONFIG_NFC_PN547=y
CONFIG_NFC_PN547_ESE_SUPPORT=y
CONFIG_SEC_NFC_LOGGER=y
CONFIG_ESE_SECURE=y
CONFIG_ESE_SPI_NUMBER=2
CONFIG_ESE_SPI_GPIO_START=0
CONFIG_ESE_SPI_GPIO_END=3

# SENSOR
CONFIG_SENSORS=y
CONFIG_SENSORS_SSC=y
CONFIG_ADSP_FACTORY=y
CONFIG_LSM6DSM_FACTORY=y
CONFIG_TCS3701_FACTORY=y
CONFIG_STK3331_FACTORY=y
CONFIG_AK09918_FACTORY=y
CONFIG_SUPPORT_BHL_COMPENSATION_FOR_LIGHT_SENSOR=y
CONFIG_SUPPORT_SSC_MODE=y
CONFIG_SUPPORT_SSC_MODE_FOR_MAG=y

# Grip SENSOR_CALL_GESTURE_SUPPORT
CONFIG_SENSORS_SX9360=y
CONFIG_SUPPORT_CAMERA_FREEFALL=y

# Fingerprint sensor
#CONFIG_SENSORS_FINGERPRINT is not set
#CONFIG_SENSORS_ET7XX is not set
#CONFIG_SENSORS_FP_SPI_NUMBER is not set
#CONFIG_SENSORS_FP_SPI_GPIO_START is not set
#CONFIG_SENSORS_FP_SPI_GPIO_END is not set

# QCA Wi-Fi feature
CONFIG_QCA_CLD_WLAN=y
CONFIG_QCACLD_WLAN_LFR2=y
CONFIG_QCACLD_WLAN_LFR3=y
CONFIG_QCOM_TDLS=y
CONFIG_QCACLD_FEATURE_METERING=y
CONFIG_QCOM_VOWIFI_11R=y
CONFIG_WLAN_FEATURE_11W=y
CONFIG_QCOM_LTE_COEX=y
CONFIG_WLAN_FEATURE_LPSS=y
CONFIG_QCACLD_FEATURE_NAN=y
CONFIG_WLAN_FEATURE_NAN_DATAPATH=y
CONFIG_MPC_UT_FRAMEWORK=y
CONFIG_WLAN_OFFLOAD_PACKETS=y
CONFIG_WLAN_SYNC_TSF=y
CONFIG_WLAN_FEATURE_MEMDUMP=y
CONFIG_WLAN_FEATURE_DISA=y
CONFIG_WLAN_FASTPATH=y
CONFIG_WLAN_NAPI=y
CONFIG_WLAN_TX_FLOW_CONTROL_V2=y
CONFIG_LFR_SUBNET_DETECTION=y
CONFIG_MCC_TO_SCC_SWITCH=y
CONFIG_WLAN_LRO=y
CONFIG_ICNSS=y
CONFIG_CNSS_UTILS=y
CONFIG_QCACLD_FEATURE_GREEN_AP=y
CONFIG_WCNSS_MEM_PRE_ALLOC=y
CONFIG_MCL=y

# Hall ic
#CONFIG_FOLDER_HALL=y
CONFIG_CERTIFY_HALL=y
CONFIG_SLIDING_UP_HALL=y
CONFIG_SLIDING_DOWN_HALL=y
CONFIG_DW772X=y
CONFIG_DW772X_REVERSE=y

#MST
CONFIG_MST_LDO=y
CONFIG_MST_REGULATOR=y
CONFIG_MST_SUPPORT_GPIO=y
CONFIG_MST_LPM_DISABLE=y
