CONFIG_CMDLINE_EXTEND=y

CONFIG_KEYBOARD_S2MPU13=m
CONFIG_MFD_S2MPU13=m
CONFIG_MFD_S2MPU14=m
CONFIG_REGULATOR_S2MPU13=m
CONFIG_REGULATOR_S2MPU14=m
CONFIG_REGULATOR_S2MPB03=m
CONFIG_RTC_DRV_S2MPU13=m
CONFIG_S2MPU13_ADC=m
CONFIG_PINCTRL_SAMSUNG_S2MPU13=m
CONFIG_PINCTRL_SAMSUNG_S2MPU14=m

CONFIG_SND_SOC_SAMSUNG_EXYNOS_TFA9878=m
CONFIG_SND_SOC_SAMSUNG_EXYNOS8825_SOUND=m
CONFIG_CMA_SIZE_MBYTES=56

CONFIG_TOUCHSCREEN_STM_FTS5CU56A=m

CONFIG_EXYNOS_BTS=m
CONFIG_DRM_PANEL_SAMSUNG_S6E3FC3=m

# SEC CONFIGS
CONFIG_SEC_DEBUG=m
#CONFIG_SEC_REBOOT=m
CONFIG_SEC_PARAM=m
CONFIG_DRV_SAMSUNG=m
#CONFIG_SEC_DEBUG_BASE=m

# BATTERY
CONFIG_BATTERY_GKI=y
CONFIG_BATTERY_SAMSUNG_SM5714_MODULE=m
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SWELLING=y
CONFIG_BATTERY_AGE_FORECAST=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_FUELGAUGE_SM5714=m
CONFIG_CHARGER_SM5714=m
CONFIG_SEC_PD_SM5714_MODULE=m
CONFIG_SEC_PD=y

# MFD
CONFIG_MFD_SM5714=m

# MUIC
CONFIG_USE_MUIC=y
CONFIG_MUIC_NOTIFIER_SM5714=m
CONFIG_MUIC_MANAGER=y
CONFIG_MUIC_CORE=y
CONFIG_MUIC_SM5714=m
CONFIG_MUIC_SYSFS=y
CONFIG_MUIC_SUPPORT_PDIC=m
CONFIG_MUIC_BCD_RESCAN=y
CONFIG_VBUS_NOTIFIER_SM5714=m

# PDIC
CONFIG_PDIC_SM5714=m

# USB
CONFIG_GKI_USB=y
CONFIG_PDIC_NOTIFIER=m
CONFIG_USB_ARCH_EXYNOS=y
CONFIG_USB_TYPEC_MANAGER_NOTIFIER_SM5714=m
CONFIG_IF_CB_MANAGER=m

CONFIG_VERIFY_VSS=m

# WLBT
CONFIG_SCSC_AP_INTERFACE_NAME="swlan0"

#Camera
CONFIG_CAMERA_VENDER_MCD_V2=y
# CONFIG_OIS_USE is not set
CONFIG_AF_HOST_CONTROL=y
# CONFIG_CAMERA_USE_INTERNAL_MCU is not set
