config EXYNOS_DRM_DECON_TEST
	bool "KUnit test for exynos_drm_decon_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_DSIM_TEST
	bool "KUnit test for exynos_drm_dsim_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_BTS_TEST
	bool "KUnit test for exynos_drm_bts_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_CONNECTOR_TEST
	bool "KUnit test for exynos_drm_connector_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_CRTC_TEST
	bool "KUnit test for exynos_drm_crtc_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_DEBUG_TEST
	bool "KUnit test for exynos_drm_debug_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_DPP_TEST
	bool "KUnit test for exynos_drm_dpp_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_DQE_TEST
	bool "KUnit test for exynos_drm_dqe_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_DRV_TEST
	bool "KUnit test for exynos_drm_drv_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_FB_TEST
	bool "KUnit test for exynos_drm_fb_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_FBDEV_TEST
	bool "KUnit test for exynos_drm_fbdev_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_FORMAT_TEST
	bool "KUnit test for exynos_drm_format_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_GEM_TEST
	bool "KUnit test for exynos_drm_gem_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_HIBERNATION_TEST
	bool "KUnit test for exynos_drm_hibernation_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_MIGOV_TEST
	bool "KUnit test for exynos_drm_migov_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_PLANE_TEST
	bool "KUnit test for exynos_drm_plane_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.


config EXYNOS_DRM_WRITEBACK_TEST
	bool "KUnit test for exynos_drm_writeback_test"
	depends on SEC_KUNIT
	help
	  TODO: Describe config fully.

