# SPDX-License-Identifier: GPL-2.0-only
menu "I2C HID support"
	depends on I2C

config I2C_HID
	tristate "HID over I2C transport layer"
	default n
	depends on I2C && INPUT
	select HID
	---help---
	  Say Y here if you use a keyboard, a touchpad, a touchscreen, or any
	  other HID based devices which is connected to your computer via I2C.

	  If unsure, say N.

	  This support is also available as a module.  If so, the module
	  will be called i2c-hid.

if I2C_HID

menu "Special I2C HID drivers"
	depends on I2C_HID

config POGOPIN_HID
	tristate "POGOPIN_HID support for kbd connect"
	depends on I2C_HID
	---help---
	Support for keyboard connected.
	If keyboard connect, setup HW buffers and start the device.

endmenu

endif # HID

endmenu
