config CHARGER_SM5440
	tristate "SM5440 direct charger support"
	depends on I2C
	help
	  Say Y here to enable support for the SM5440 direct charger.
	  SM5440 is a direct charging IC.
	  SM5440 is dependent on I2C
	  so it needs to be defined.