config VIBRATOR_VIB_INFO
	tristate "The module for vibrator information"
	default n
	help
	  This module supports sysfs nodes for vibrator information.
	  supported functions are served for vibrator hal.
	  vibrator hal also can get intensities table by this module.
	  We recommend to use this module for all models.

config VIBRATOR_VIB_INFO_TEST
        bool "KUnit test for vibrator_vib_info_test"
        depends on SEC_KUNIT
        help
          This driver is for vibrator_vib_info_test driver
		  vibrator_vib_info_test kunit test
		  If you want to add some functions,
		  Please make the test case.