config SENSORS_ISG5320A
	depends on I2C
	tristate "ISG5320A grip"
	default n
	help
	  If you say yes here if you use ISG5320A for grip.
	  This option enables grip sensors using
	  IMAGIS ISG5320A device driver for grip.

config SENSORS_ISG5320A_SUB
	depends on I2C
	tristate "ISG5320A grip sub"
	default n
	help
	  If you say yes here if you use ISG5320A_SUB for grip sub.
	  This option enables grip sensors using
	  IMAGIS ISG5320A_SUB device driver for grip sub.

config SENSORS_SSP
	tristate "Sensors ssp"
	default n
	help
	  ssp driver for sensor hub.
          If you say yes here you get ssp support for
	  sensor hub.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.

config SSP_ENG_DEBUG
	tristate "sensor hub eng debug mode"
	default n
	help
	  If you want to use eng debug mode for sensor hub, it should be set.

config SENSORS_SSP_FIRMWARE_DOWNLOAD
	tristate "Sensor hub firmware download"
	default y
	help
	  ssp driver for sensor hub.
          If you say yes here you download firmware of
	  sensor hub.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.

config SSP_PM_WAKEUP_LINUX_VER_5_4
	tristate "pm wakeup linux version 5.4"
	default n
	help
	  ssp driver for sensor hub.
          If you say yes here, the code of pm_wakeup is applied over linux version 5.4.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.

config SSP_SUPPORT_SPU_FW
	tristate "support spu firmware"
	default n
	depends on SENSORS_SSP_FIRMWARE_DOWNLOAD

config SENSORS_SSP_DUMP
	tristate "support ssp dump"
	default y

config SENSORS_SSP_A21S
	tristate "Sensors ssp a21s"
	default n
	help
	  If you want to use sensor hub for a21s project, it should be set.

config SENSORS_SSP_M12
	tristate "Sensors ssp m12"
	default n
	help
	  If you want to use sensor hub for m12 project, it should be set.

config SENSORS_SSP_XCOVER5
	tristate "Sensors ssp xcover5"
	default n
	help
	  If you want to use sensor hub for xcover5 project, it should be set.
