menuconfig USDM_PANEL_S6E3FC5
	tristate "S6E3FC5 DDI Panel Driver"
	depends on USDM_PANEL
	depends on USDM_PANEL_OLED_COMMON
	default n
	help
		This enables S6E3FC5 DDI dependent panel drivers of
		common panel driver. say Y, if you have a panel based on
		the S6E3FC5 DDI.

