# to add sprd vsp configs in the future
config SPRD_VPU
	tristate "SPRD vpu driver"
	depends on ARCH_SPRD
---help---
Say Y here if you want to build a driver for vpu device for qogirn6pro; otherwise, N.