CONFIG_SEC_A11Q_PROJECT=y
CONFIG_MACH_A11Q_USA_AIO=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_VMPRESSURE_LEVEL_MED=70
CONFIG_PSI=y
CONFIG_PAGE_BOOST=y
CONFIG_ZRAM_WRITEBACK=y

#SS Sensor Factory feature
CONFIG_ADSP_FACTORY=y
CONFIG_SX93XX_FACTORY=y
