menuconfig EXYNOS_DECON_LCD_SW83109
	tristate "SW83109 DDI Panel Driver"
	depends on MCD_PANEL
	depends on USDM_PANEL_OLED_COMMON
	default n
	help
		This enables SW83109 DDI dependent panel drivers of
		common panel driver. say Y, if you have a panel based on
		the SW83109 DDI.

