# SPDX-License-Identifier: GPL-2.0-only

config MEDIATEK_MT6338_AUXADC
	tristate "MediaTek MT6338 PMIC AUXADC Support"
	depends on MFD_MT6338
	help
	  Say yes here to enable support for MediaTek MT6338 PMIC AUXADC.
	  The driver supports multiple channels read.

	  This driver can also be built as a module. If so, the module will be
	  called mt6338-auxadc.

config MEDIATEK_MT635X_AUXADC
	tristate "MediaTek MT635X PMIC AUXADC Support"
	depends on DEVICE_MODULES_MFD_MT6397
	help
	  Say yes here to enable support for MediaTek MT635X PMIC AUXADC.
	  The driver supports multiple channels read.

	  This driver can also be built as a module. If so, the module will be
	  called mt635x-auxadc.

config MEDIATEK_MT6362_ADC
	tristate "Mediatek MT6362 SPMI ADC driver"
	depends on MFD_MT6362
	select IIO_BUFFER
	select IIO_TRIGGERED_BUFFER
	help
	  Say yes here to have support for the MT6362 ADC.
	  Provide VBUS, VSYS, VBAT, IBUS, IBAT several channel.

	  The driver can also be build as a module.
	  If so, the module will be called mt6362_adc.

config MEDIATEK_MT6375_ADC
	tristate "MT6375 ADC driver"
	depends on MFD_MT6375
	select IIO_BUFFER
	select IIO_TRIGGERED_BUFFER
	help
	  Say yes here to have support for the MT6375 ADC.
	  The driver does support several channels, VBUS, VBAT, IBUS, etc...

	  The driver can also be build as a module.
	  If so, the module will be called mt6375-adc.

config MEDIATEK_MT6375_AUXADC
	tristate "MT6375 AUXADC driver"
	depends on MFD_MT6375
	help
	  Say yes here to have support for the MT6375 AUXADC.
	  The driver does support several channels TBAT, VBAT, etc...

	  The driver can also be build as a module.
	  If so, the module will be called mt6375-auxadc.

config MEDIATEK_MT6681_AUXADC
	tristate "MediaTek MT6681 PMIC AUXADC Support"
	depends on MFD_MT6681
	help
	  Say yes here to enable support for MediaTek MT6681 PMIC AUXADC.
	  The driver supports multiple channels read.

	  This driver can also be built as a module. If so, the module will be
	  called mt6681-auxadc.

config DEVICE_MODULES_MEDIATEK_MT6577_AUXADC
	tristate "MediaTek AUXADC driver"
	depends on ARCH_MEDIATEK || COMPILE_TEST
	depends on HAS_IOMEM
	help
	  Say yes here to enable support for MediaTek mt65xx AUXADC.

	  The driver supports immediate mode operation to read from one of sixteen
	  channels (external or internal).

	  This driver can also be built as a module. If so, the module will be
	  called mt6577_auxadc.

config MEDIATEK_SPMI_PMIC_ADC
	tristate "MediaTek SPMI PMIC ADC Support"
	depends on MFD_MTK_SPMI_PMIC
	help
	  Say yes here to enable support for MediaTek SPMI PMIC ADC.
	  The driver supports multiple channels read.

	  This driver can also be built as a module. If so, the module will be
	  called mtk-spmi-pmic-adc.

config MEDIATEK_SPMI_TIA_ADC
	tristate "MediaTek SPMI TIA ADC Support"
	depends on MEDIATEK_SPMI_PMIC_ADC
	help
	  Say yes here to enable support for MediaTek SPMI PMIC TIA ADC.
	  The driver supports multiple channels read.

	  This driver can also be built as a module. If so, the module will be
	  called mtk-spmi-tia-adc.

config RT9490_ADC
	tristate "Richtek RT9490 ADC"
	depends on MFD_RT9490 || COMPILE_TEST
	help
	  Say yes here to enable support rt9490 adc part.
	  It can be used to get monitoring datas for the charging sense
	  voltage and current.
	  Say N to disable.
