CONFIG_SEC_FORCE_ERR=y
CONFIG_SEC_RELOC_GPIO_EN=y
CONFIG_SEC_QC_SOC_ID_EN=y
CONFIG_USB_PHY_TUNING_QCOM=y
CONFIG_SEC_PCIE_DEV=y
CONFIG_SEC_GPIO_DVS=m
CONFIG_SEC_CDSP_NO_CRASH_FOR_ENG=y

# Battery driver
CONFIG_ENG_BATTERY_CONCEPT=y
