# CONFIG_MODULE_SIG_ALL is not set
CONFIG_ARCH_EXYNOS=y
CONFIG_SERIAL_EXYNOS=m
CONFIG_I2C_CHARDEV=m
CONFIG_I2C_EXYNOS5=m
CONFIG_SPI_S3C64XX=m
CONFIG_SPI_SPIDEV=m
CONFIG_PCI_EXYNOS=m
CONFIG_PCI_EXYNOS_PHYCAL=m
CONFIG_PCI_EXYNOS_PHYCAL_DEBUG=m
CONFIG_EXYNOS_PCIE_IOMMU=m
CONFIG_EXYNOS_PHYCAL_IF=m
# CONFIG_PCIE_IOMMU_HISTORY_LOG=m
CONFIG_USI_V2=m
CONFIG_SOC_S5E9935=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_PINCTRL_SAMSUNG=m
CONFIG_EXYNOS_CHIPID=n
CONFIG_EXYNOS_CHIPID_V2=m
CONFIG_POWER_RESET_EXYNOS=m
CONFIG_CLKSRC_EXYNOS_MCT_V3=m
CONFIG_ARM_GIC_V3_VENDORHOOK=m
CONFIG_S3C2410_WATCHDOG=m
CONFIG_S3C2410_BUILTIN_WATCHDOG=y
CONFIG_S3C2410_SHUTDOWN_REBOOT=y
CONFIG_SND_SOC_SAMSUNG=m
CONFIG_SND_SOC_SAMSUNG_ABOX_DEBUG=y
CONFIG_DEBUG_FS=y
CONFIG_COMPOSITE_CLK_SAMSUNG=m
CONFIG_EXYNOS_PMU_IF=m
CONFIG_EXYNOS_DEBUG=y
CONFIG_DEBUG_SNAPSHOT=m
CONFIG_DEBUG_SNAPSHOT_NR_CPUS=9
CONFIG_DEBUG_SNAPSHOT_DEBUG_KINFO=m
CONFIG_EXYNOS_DEBUG_TEST=m
CONFIG_EXYNOS_CORESIGHT=m
CONFIG_EXYNOS_ECC_HANDLER=m
CONFIG_EXYNOS_HARDLOCKUP_WATCHDOG=m
CONFIG_EXYNOS_ITMON_V2=m
CONFIG_EXYNOS_ADV_TRACER=m
CONFIG_EXYNOS_ADV_TRACER_S2D=m
CONFIG_EXYNOS_EHLD=m
CONFIG_EXYNOS_SSLD=m
CONFIG_EXYNOS_GETCPUSTATE=m
CONFIG_EXYNOS_MEMORY_LOGGER=m
CONFIG_EXYNOS_IMGLOADER=m
CONFIG_EXYNOS_SYSTEM_EVENT=m
CONFIG_CAL_IF=m
CONFIG_CMUCAL_DEBUG=y
CONFIG_EXYNOS_PD=m
CONFIG_EXYNOS_PD_DBG=m
CONFIG_PMUCAL_CMU_INIT=y
CONFIG_EXYNOS_ACPM=m
CONFIG_EXYNOS_ACPM_PLGDBG=m
CONFIG_EXYNOS_ACPM_MFD_BUS=m
CONFIG_EXYNOS_MFD_SPMI=y
CONFIG_EXYNOS_ESCA=m
CONFIG_EXYNOS_PM=m
CONFIG_EXYNOS_S2I=m
CONFIG_EXYNOS_FLEXPMU_DBG=m
CONFIG_SCSI_UFS_EXYNOS=m
CONFIG_SCSI_UFS_EXYNOS_FMP=y
CONFIG_ECT=m
CONFIG_EXYNOS_PM_QOS=m
CONFIG_CORESIGHT=y
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=y
CONFIG_CORESIGHT_CATU=y
CONFIG_CORESIGHT_SINK_TPIU=y
CONFIG_CORESIGHT_SINK_ETBV10=y
CONFIG_CORESIGHT_STM=y
CONFIG_STM_PROTO_BASIC=y
CONFIG_ZSMALLOC=m
CONFIG_ZRAM=m
CONFIG_PRINTK_PROCESS=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_SLUB_DEBUG_ON=y
CONFIG_CFI_CLANG=y
CONFIG_HPA=y
CONFIG_DMABUF_SAMSUNG_HEAPS=m
CONFIG_DMABUF_HEAPS_SAMSUNG_CMA=y
CONFIG_DMABUF_HEAPS_SAMSUNG_CARVEOUT=y
CONFIG_DMABUF_HEAPS_SAMSUNG_SYSTEM=y
CONFIG_DMABUF_HEAPS_SAMSUNG_HPA=y

#ICM
CONFIG_EXYNOS_ICM=m
CONFIG_EXYNOS_PROFILER_LEGACY=y
CONFIG_EXYNOS_MAIN_PROFILER=n
CONFIG_EXYNOS_CPU_PROFILER=n
CONFIG_EXYNOS_GPU_PROFILER=n
CONFIG_EXYNOS_MIF_PROFILER=n
CONFIG_EXYNOS_PROFILER_GFLOW=n
# CONFIG_EXYNOS_CRYPTOMANAGER is not set
# CONFIG_LTO_CLANG_FULL is not set
# CONFIG_EXYNOS_SSP is not set
CONFIG_EXYNOS_SECURE_LOG=m
# CONFIG_EXYNOS_TZASC_FAIL_DETECTOR is not set
# CONFIG_EXYNOS_PPMPU_FAIL_DETECTOR is not set
CONFIG_EXYNOS_SEH=m
CONFIG_HW_RANDOM_EXYNOS_SWD=m
CONFIG_EXYNOS_HDCP2=m
CONFIG_TRUSTONIC_TEE=m
CONFIG_EXYNOS_EL2=m
CONFIG_EXYNOS_S2MPU=m
CONFIG_PABLO_V11_0_0=n

# PMIC
CONFIG_MFD_SAMSUNG_PMIC=m
CONFIG_DRV_SAMSUNG_PMIC=m
CONFIG_RTC_SAMSUNG_PMIC=m
CONFIG_KEYBOARD_SAMSUNG_PMIC=m
CONFIG_ADC_SAMSUNG_PMIC=m
CONFIG_PINCTRL_SAMSUNG_PMIC=m

CONFIG_SAMSUNG_IOMMU_V9=m

CONFIG_DRM_SAMSUNG_DPU=m
CONFIG_PHY_EXYNOS_MIPI=m
CONFIG_PHY_EXYNOS_MIPI_DSIM=m
CONFIG_DRM_PANEL_SAMSUNG_COMMON=m
CONFIG_DRM_PANEL_SAMSUNG_EMUL=m
CONFIG_EXYNOS_DMA_DSIMFC=y
CONFIG_DRM_SAMSUNG_HIBERNATION_EARLY_WAKEUP=y
CONFIG_EXYNOS_PLL_SLEEP=y
CONFIG_DRM_SAMSUNG_DQE=y
CONFIG_DRM_SAMSUNG_HDR=y
CONFIG_DRM=y

# SGPU
CONFIG_DRM_SGPU=m
CONFIG_DRM_SGPU_DVFS=y
CONFIG_DRM_SGPU_EXYNOS=y
CONFIG_DRM_SGPU_VENDOR_HOOKS=n

# CPIF/GNSSIF
CONFIG_EXYNOS_MODEM_IF=m
CONFIG_SEC_MODEM_S5000AP=m
CONFIG_EXYNOS_CPIF_IOMMU_V9=m
CONFIG_CP_PKTPROC=m
CONFIG_CP_PKTPROC_UL=m
CONFIG_MODEM_IF_QOS=m
CONFIG_CP_BTL=m
# CONFIG_CP_LLC is not set
CONFIG_HW_REV_DETECT=m
CONFIG_CPIF_TP_MONITOR=m
# CONFIG_REINIT_VSS is not set
CONFIG_VERIFY_VSS=m
CONFIG_CPIF_DIRECT_DM=m
# CONFIG_CPIF_VENDOR_HOOK is not set
# CONFIG_CH_EXTENSION is not set
CONFIG_GNSS_PMUCAL=m
CONFIG_EXYNOS_GNSS_IF=m
# CONFIG_CP_UART_NOTI is not set
CONFIG_CP_RESET_NOTI=y

# TCP congestion control
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BIC=y
CONFIG_TCP_CONG_CUBIC=y
CONFIG_TCP_CONG_BBR=y
CONFIG_DEFAULT_BIC=y

# USB
CONFIG_USB_DWC3_EXYNOS_MODULE=m
CONFIG_EXYNOS_USBDRD_PHY30=y
CONFIG_USB_XHCI_EXYNOS=m
CONFIG_USB_CONFIGFS_F_DM=m
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_USE_IOCOHERENCY=m
CONFIG_USB_XHCI_EXYNOS_AUDIO=y
CONFIG_SND_EXYNOS_USB_AUDIO_GIC=y
CONFIG_SND_EXYNOS_USB_AUDIO=y
CONFIG_PHY_EXYNOS_USBDRD_EUSB=m
CONFIG_PHY_EXYNOS_EUSB_REPEATER=m
CONFIG_PHY_SAMSUNG_USB_CAL=y

#CPU
CONFIG_EXYNOS_CPUHP=m
CONFIG_EXYNOS_CPUPM=m
CONFIG_EXYNOS_IDLE_LAT=m
CONFIG_ARM_EXYNOS_CPU_FREQ=m
CONFIG_ARM_FREQ_QOS_TRACER=m
CONFIG_SCHED_CLUSTER=y
CONFIG_SCHED_EMS=m
CONFIG_SCHED_EMS_IDLE_SELECT=y
CONFIG_SCHED_EMS_FREQ_SELECT=y
CONFIG_SCHED_EMS_CORE_SELECT=y
CONFIG_SCHED_EMS_DEBUG=y
CONFIG_MHDVFS=y
CONFIG_CPU_FREQ_GOV_ENERGYAWARE=y
CONFIG_VENDOR_NR_CPUS=9
CONFIG_EXYNOS_UFCC=m
CONFIG_ARM_EXYNOS_DSU_FREQ=m
CONFIG_EXYNOS_AFM=m
CONFIG_EXYNOS_PERF=m
CONFIG_CPU_IDLE_GOV_HALO=y

# DEVFREQ/DM/DTM
CONFIG_ACPM_DVFS=m
CONFIG_EXYNOS_ESCA_DVFS_MANAGER=m
CONFIG_ARM_EXYNOS_DEVFREQ=m
CONFIG_ARM_EXYNOS_DEVFREQ_DEBUG=m
CONFIG_EXYNOS_ALT_DVFS=m
CONFIG_EXYNOS_THERMAL_V2=m
CONFIG_EXYNOS_CPU_THERMAL=m
CONFIG_ISP_THERMAL=m
CONFIG_DEV_THERMAL=m
CONFIG_GPU_THERMAL=m
CONFIG_EXYNOS_ACPM_THERMAL=m
CONFIG_EXYNOS_ESCA_THERMAL=m
CONFIG_EXYNOS_AMB_CONTROL=m
CONFIG_EXYNOS_MCINFO=m
CONFIG_EXYNOS_BTS=m

# LLC/SCI
CONFIG_EXYNOS_SCI=m
CONFIG_EXYNOS_LLCGOV=m
CONFIG_EXYNOS_SCI_DBG=m

# MULTIMEDIA
CONFIG_VIDEO_EXYNOS_MFC=m
CONFIG_VIDEO_EXYNOS_SCALER=m
CONFIG_VIDEO_EXYNOS_SMFC=m
CONFIG_VIDEO_EXYNOS_TSMUX=m
CONFIG_VIDEO_EXYNOS_REPEATER=m

#BCM
CONFIG_EXYNOS_BCM_DBG=m

# NPU
CONFIG_VISION_CORE=y
CONFIG_VISION_SUPPORT=y
CONFIG_EXYNOS_NPU=m
CONFIG_NPU_MAILBOX_VERSION=10
CONFIG_NPU_COMMAND_VERSION=11
CONFIG_NPU_NCP_VERSION=26
CONFIG_NPU_INTERFACE=y
CONFIG_NPU_HARDWARE=y
CONFIG_NPU_USE_MAILBOX_GROUP=n
CONFIG_NPU_USE_HW_DEVICE=y
CONFIG_NPU_USE_BOOT_IOCTL=y
CONFIG_NPU_USE_LLC=y
CONFIG_NPU_USE_LLC_PRESET=y
CONFIG_NPU_USE_PI_DTM=y
CONFIG_NPU_SET_DNC_FREQ=y
CONFIG_DSP_USE_VS4L=y
#CONFIG_NPU_USE_VOTF=y
CONFIG_NPU_STM=y
CONFIG_NPU_USE_UTIL_STATS=y
CONFIG_NPU_USE_IMB_ALLOCATOR=y
CONFIG_NPU_NUM_CORES=2
CONFIG_NPU_IMB_THRESHOLD=y
CONFIG_NPU_USE_FENCE_SYNC=y
CONFIG_NPU_USE_ASYNC=y
CONFIG_NPU_USE_IFD=y
CONFIG_NPU_AFM=y

# NFC
CONFIG_NFC=m
CONFIG_SEC_NFC=m
CONFIG_SEC_NFC_PRODUCT_N5=y
CONFIG_SEC_NFC_IF_I2C=y
CONFIG_SEC_NFC_DEDICATED_CLK=y
CONFIG_SEC_NFC_PMIC_LDO=y

# PDMA
CONFIG_SAMSUNG_PDMA=m

# WLBT
CONFIG_CFG80211=m
CONFIG_SCSC_CORE_CM=m
CONFIG_SCSC_CORE=m
CONFIG_SCSC_INDEPENDENT_SUBSYSTEM=m
CONFIG_SCSC_WLBT_CONFIG_PLATFORM=""
CONFIG_SCSC_PLATFORM=m
CONFIG_SCSC_CM_MX_CLIENT_TEST=y
CONFIG_SCSC_MMAP=m
CONFIG_SCSC_QOS=n
CONFIG_SCSC_MXLOGGER=y
CONFIG_SCSC_SMAPPER=n
CONFIG_SCSC_DEBUG=n
CONFIG_SCSC_DBG_SAMPLER=n
CONFIG_SCSC_WLAN=m
CONFIG_SCSC_WLAN_MAX_INTERFACES=12
CONFIG_SCSC_WLAN_SUPPORT_6G=y
CONFIG_SCSC_MX450_GDB_SUPPORT=y
CONFIG_SCSC_PRINTK=y
CONFIG_SCSC_CORE_FW_LOCATION="/vendor/etc/wifi"
CONFIG_SCSC_DEBUG_COMPATIBILITY=y
CONFIG_SCSC_LOGRING=m
CONFIG_SCSC_LOG_COLLECTION=m
CONFIG_SCSC_WLBTD=y
#CONFIG_SCSC_FM=n
#CONFIG_SCSC_FM_TEST=n
CONFIG_SCSC_STATIC_RING=y
CONFIG_SCSC_STATIC_RING_SIZE=4194304
CONFIG_SCSC_WIFILOGGER=y
CONFIG_SCSC_WLAN_WIFI_SHARING=y
CONFIG_SCSC_WLAN_SAE_CONFIG=y
#CONFIG_SCSC_WLAN_ENABLE_MAC_RANDOMISATION=y
CONFIG_SCSC_WLAN_SINGLE_ANTENNA is not set
CONFIG_SCSC_WIFI_NAN_ENABLE=y
CONFIG_SCSC_WLAN_RTT=y
CONFIG_SCSC_COMMON_HCF=y
# CONFIG_SCSC_FLASH_SERVICE_ON_BOOT is not set
CONFIG_WLBT_WARN_ON=y
# CONFIG_SCSC_BT is not set
CONFIG_SCSC_WLAN_MHS_STATIC_INTERFACE=y
CONFIG_SCSC_WLAN_ANDROID=y
# CONFIG_SCSC_LOGRING_DEBUGFS is not set
# CONFIG_SCSC_WIFILOGGER_DEBUGFS is not set
CONFIG_SCSC_MEMLOG=n
CONFIG_SCSC_PCIE=n
# CONFIG_SCSC_BT_BLUEZ is not set
# CONFIG_SCSC_BT_ADDRESS_IN_FILE is not set
CONFIG_SCSC_BT_ADDRESS_FILENAME="/mnt/vendor/efs/bluetooth/bt_addr"

CONFIG_SLSI_BT=m
CONFIG_SLSI_BT_USE_UART_INTERFACE=y
#CONFIG_SLSI_BT_USE_MIF_INTERFACE is not set
CONFIG_SLSI_BT_TTY_DEVICE_NAME="ttySAC1"
CONFIG_SLSI_BT_TTY_BAUD_RATE=4800000
CONFIG_SLSI_BT_H4=y
CONFIG_SLSI_BT_BCSP=y
#CONFIG_SLSI_BT_3WUTL is not set
#CONFIG_SLSI_BT_ADDRESS_IN_FILE is not set
